<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset=UTF-8"utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error 404 </title>
	<!--Bootstrap Stylesheet [ REQUIRED ]-->
	<link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">  
	<link href="/static/css/nifty.min.css" rel="stylesheet">
    <link href="/static/css/zeta.css" rel="stylesheet"> 
    <link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/libs/pace/themes/pace-theme-minimal.css" rel="stylesheet">


	<!--Nifty Stylesheet [ REQUIRED ]-->
	<link href="/static/css/nifty.min.css" rel="stylesheet">

	


	

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
	<div id="container" class="cls-container">
		
		<div class="cls-content">

			<h1 class="error-code">404</h1>
			<p class="h4 text-thin pad-btm mar-btm">
				<i class="fa fa-exclamation-circle fa-fw"></i>
                对不起，您访问的页面不存在。<br />
			</p>
		
		<!-- CONTENT -->
		<!--===================================================-->
			<div class="pad-top">
				<a class="btn-link" href="/#!/"><img src="/static/img/logo.svg" height="23" width="26"> <img src="/static/img/logotxt.svg" height="25" width="124"></a>
			</div>
			<div class="cls-content" style="padding-top:25px;">
				<div><a class="btn btn-success btn-rounded" style="font-size:20px;" class="btn-link" href="/#!">返回首页</a></div>
			</div>
		</div>


		<!-- <div class="cls-content">
			<h1 class="error-code text-warning">404</h1>
			<p class="h4 text-thin pad-btm mar-btm">
				<i class="fa fa-exclamation-circle fa-fw"></i>
				对不起，您访问的页面找不到了.
			</p>
			<div class="row mar-btm">
			</div>
			<br>
			<div class="pad-top"><a class="btn-link" href="/#!/main">返回首页</a></div>
		</div> -->
		
		
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->


		
	<!--JAVASCRIPT-->
	<!--=================================================-->

	<!--jQuery [ REQUIRED ]-->
	<script src="/static/libs/jQuery/jquery-2.2.0.min.js"></script><!--ignore-->


	<!--BootstrapJS [ RECOMMENDED ]-->
	<script src="/static/libs/bootstrap/js/bootstrap.min.js"></script><!--ignore-->

	
	<!-- Plugins [ OPTIONAL ]-->
	<script src="/static/libs/jQuery/FastClick.min.js"></script><!--ignore-->

	<script src="/static/libs/mod/mod.js"></script>

	
	<!--

	REQUIRED
	You must include this in your project.

	RECOMMENDED
	This category must be included but you may modify which plugins or components which should be included in your project.

	OPTIONAL
	Optional plugins. You may choose whether to include it in your project or not.

	DEMONSTRATION
	This is to be removed, used for demonstration purposes only. This category must not be included in your project.

	SAMPLE
	Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


	Detailed information and more samples can be found in the document.

	-->
		

</body>
</html>

