<page-title
	:items="[{ message: '首页',url:'/#!/' },{ message: '日志管理',url:'' }]"></page-title>

<div id="logRoot" style="padding: 20px 25px 0px; font-size: 14px;">
	<form @submit.prevent v-on:onload="search()" id="query-form" class="form-horizontal"
		 role="form" method="post" action="/actionlog/query">
		<input type="hidden" name="page_pageNo" id="pageNo" value="1" />
		<input type="hidden" name="page_pageSize" id="pageSize" value="10" />
		<input type="hidden" name="page_order" id="order" value="desc" />
		<input type="hidden" name="page_orderBy" id="orderBy" value="id" />

						
		<table border="0" class="juli5 yj3-top anniu1 w100 bgbian  txtcolor">
		    <td>
				<h4>日志管理</h4>
			    <div class="pull-right">
			            <button type="button" class="btn btn-tm" @click="search()">确定</button>
			    </div>
			    <div class=" pull-right w200px">
			        <input type="text" name="filter_LIKES_modelName_OR_content"  placeholder="按模块名或者操作内容搜索" class="form-control bianno">
			    </div>
				<!-- Button trigger modal -->

				<!-- 展开 -->
				 
		    </td>
		</table>
	</form>

	<!-- 列表展示 -->
	<vue-grid v-ref:grid   :hide-checkbox="true" :page="page"  :columns="gridColumns" ></vue-grid>

</div>
<router-view></router-view> 