				<!--Page content-->
				<!--===================================================-->
				<div id="page-content">
					
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">Inline Form</h3>
						</div>
						<div class="panel-body">
					
							<!-- Inline Form  -->
							<!--===================================================-->
							<form class="form-inline">
								<div class="form-group">
									<label for="demo-inline-inputmail" class="sr-only">Email address</label>
									<input type="email" placeholder="Enter email" id="demo-inline-inputmail" class="form-control">
								</div>
								<div class="form-group">
									<label for="demo-inline-inputpass" class="sr-only">Password</label>
									<input type="password" placeholder="Password" id="demo-inline-inputpass" class="form-control">
								</div>
								<v-checkbox  :checked="false" :name='false' display-name="Remember me"></v-checkbox>
								<button class="btn btn-primary" type="submit">Sign in</button>
							</form>
							<!--===================================================-->
							<!-- End Inline Form  -->
					
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Block styled form</h3>
								</div>
					
								<!--Block Styled Form -->
								<!--===================================================-->
								<form>
									<div class="panel-body">
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label class="control-label">Firstname</label>
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="control-label">Lastname</label>
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label class="control-label">Email</label>
													<input type="email" class="form-control">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="control-label">Website</label>
													<input type="url" class="form-control">
												</div>
											</div>
										</div>
									</div>
									<div class="panel-footer text-right">
										<button class="btn btn-info" type="submit">Submit</button>
									</div>
								</form>
								<!--===================================================-->
								<!--End Block Styled Form -->
					
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Horizontal form</h3>
								</div>
					
								<!--Horizontal Form-->
								<!--===================================================-->
								<form class="form-horizontal">
									<div class="panel-body">
										<div class="form-group">
											<label class="col-sm-3 control-label" for="demo-hor-inputemail">Email</label>
											<div class="col-sm-9">
												<input type="email" placeholder="Email" id="demo-hor-inputemail" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label" for="demo-hor-inputpass">Password</label>
											<div class="col-sm-9">
												<input type="password" placeholder="Password" id="demo-hor-inputpass" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-9">
											<v-checkbox  :checked="false" :name='false' display-name="Remember me"></v-checkbox>
												<!-- <label class="form-checkbox form-normal">
													<input type="checkbox"> Remember me
												</label> -->
											</div>
										</div>
									</div>
									<div class="panel-footer text-right">
										<button class="btn btn-info" type="submit">Sign in</button>
									</div>
								</form>
								<!--===================================================-->
								<!--End Horizontal Form-->
					
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Input size</h3>
								</div>
					
					
								<!--Input Size-->
								<!--===================================================-->
								<form class="form-horizontal">
									<div class="panel-body">
										<div class="form-group">
											<label class="col-sm-3 control-label" for="demo-is-inputsmall">Small Input</label>
											<div class="col-sm-6">
												<input type="text" placeholder=".input-sm" class="form-control input-sm" id="demo-is-inputsmall">
											</div>
										</div>
										<div class="form-group">
											<label for="demo-is-inputnormal" class="col-sm-3 control-label">Normal Input</label>
											<div class="col-sm-6">
												<input type="text" placeholder="Normal" class="form-control" id="demo-is-inputnormal">
											</div>
										</div>
										<div class="form-group">
											<label for="demo-is-inputlarge" class="col-sm-3 control-label">Large Input</label>
											<div class="col-sm-6">
												<input type="text" placeholder=".input-lg" class="form-control input-lg" id="demo-is-inputlarge">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Grid Inputs</label>
											<div class="col-sm-3">
												<input type="text" placeholder=".col-sm-3" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-5 col-sm-offset-3">
												<input type="text" placeholder=".col-sm-5" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-7 col-sm-offset-3">
												<input type="text" placeholder=".col-sm-7" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-9 col-sm-offset-3">
												<input type="text" placeholder=".col-sm-9" class="form-control">
											</div>
										</div>
									</div>
									<div class="panel-footer">
										<div class="row">
											<div class="col-sm-9 col-sm-offset-3">
												<button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Login</button>
												<button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset">Reset</button>
											</div>
										</div>
									</div>
								</form>
								<!--===================================================-->
								<!--End Input Size-->
					
					
							</div>
						</div>
						<div class="col-lg-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">No label form</h3>
								</div>
					
								<!--No Label Form-->
								<!--===================================================-->
								<form class="form-horizontal">
									<div class="panel-body">
										<div class="row">
											<div class="col-md-4 mar-btm">
												<input type="text" class="form-control" placeholder="Name">
											</div>
											<div class="col-md-4 mar-btm">
												<input type="email" class="form-control" placeholder="Email">
											</div>
											<div class="col-md-4 mar-btm">
												<input type="url" class="form-control" placeholder="Website">
											</div>
										</div>
										<textarea placeholder="Message" rows="13" class="form-control"></textarea>
									</div>
									<div class="panel-footer text-right">
										<button class="btn btn-lg btn-primary">Send message</button>
									</div>
								</form>
								<!--===================================================-->
								<!--End No Label Form-->
					
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Icons Addons</h3>
								</div>
					
								<!--Icons Addons-->
								<!--===================================================-->
								<form class="form-horizontal">
									<div class="panel-body">
										<div class="input-group mar-btm">
											<span class="input-group-addon"><i class="fa fa-star fa-lg"></i></span>
											<input type="text" class="form-control" placeholder="Name">
										</div>
										<div class="input-group mar-btm">
											<input type="email" class="form-control" placeholder="Folder name">
											<span class="input-group-addon"><i class="fa fa-folder fa-lg"></i></span>
										</div>
										<div class="input-group mar-btm">
											<span class="input-group-addon"><i class="fa fa-dollar fa-lg"></i></span>
											<input type="text" class="form-control">
											<span class="input-group-addon">.00</span>
										</div>
									</div>
								</form>
								<!--===================================================-->
								<!--End Icons Addons-->
					
							</div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Checkboxes and radio addons</h3>
								</div>
					
								<!--Checkboxes and Radio addons-->
								<!--===================================================-->
								<form class="form-horizontal">
									<div class="panel-body">
										<div class="input-group mar-btm">
											<span class="input-group-addon">
											 <v-checkbox :name='false' display-name=""></v-checkbox>
												<!-- <label class="form-checkbox form-icon active">
													<input type="checkbox" checked>
												</label> -->
											</span>
											<input type="text" class="form-control">
										</div>
										<div class="input-group mar-btm">
											<span class="input-group-addon">
											<v-checkbox :name='false' display-name="" style="form-icon"></v-checkbox>
												<!-- <label class="form-radio form-icon">
													<input type="radio" name="input-group-radio">
												</label> -->
											</span>
											<input type="text" class="form-control">
										</div>
										<div class="input-group mar-btm">
											<span class="input-group-addon">
											<v-checkbox :name='false' display-name="" style="form-purple form-normal"></v-checkbox>
												<!-- <label class="form-radio form-icon">
													<input type="radio" name="input-group-radio">
												</label> -->
											</span>
											<input type="text" class="form-control">
										</div>
									</div>
								</form>
								<!--===================================================-->
								<!--End Checkboxes and Radio addons-->
					
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Buttons Addons</h3>
								</div>
					
								<!--Buttons Addons-->
								<!--===================================================-->
								<form class="form-horizontal">
									<div class="panel-body">
										<div class="input-group mar-btm">
											<span class="input-group-btn">
												<button class="btn btn-warning" type="button">Submit</button>
											</span>
											<input type="email" placeholder="Email" class="form-control">
										</div>
										<div class="input-group mar-btm">
											<input type="text" placeholder="Search" class="form-control">
											<span class="input-group-btn">
												<button class="btn btn-danger btn-labeled fa fa-search" type="button">Search</button>
											</span>
										</div>
										<div class="input-group mar-btm">
											<span class="input-group-btn">
												<button class="btn btn-purple" type="button"><i class="fa fa-thumbs-up"></i></button>
											</span>
											<input type="text" placeholder="Comment" class="form-control">
											<span class="input-group-btn">
												<button class="btn btn-purple" type="button"><i class="fa fa-thumbs-down"></i></button>
											</span>
										</div>
									</div>
								</form>
								<!--===================================================-->
								<!--End Buttons Addon-->
					
							</div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Dropdowns Addons</h3>
								</div>
					
								<!--Dropdowns Addons-->
								<!--===================================================-->
								<form class="form-horizontal">
									<div class="panel-body">
										<div class="input-group mar-btm">
											<div class="input-group-btn">
												<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">Action <i class="dropdown-caret fa fa-caret-down"></i>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
											<input type="text" placeholder="Username" class="form-control">
										</div>
										<div class="input-group mar-btm">
											<input type="email" placeholder="Email" class="form-control">
											<div class="input-group-btn">
												<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">Action <i class="dropdown-caret fa fa-caret-down"></i>
												</button>
												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
										<div class="input-group mar-btm">
											<div class="input-group-btn">
												<button class="btn btn-primary" type="button">Action</button>
												<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle dropdown-toggle-icon" type="button"><i class="dropdown-caret fa fa-caret-down"></i>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
											<input type="text" placeholder="Comment" class="form-control">
											<div class="input-group-btn">
												<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle dropdown-toggle-icon" type="button"><i class="dropdown-caret fa fa-caret-down"></i>
												</button>
												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="#">Action</a></li>
													<li><a href="#">Another action</a></li>
													<li><a href="#">Something else here</a></li>
													<li class="divider"></li>
													<li><a href="#">Separated link</a></li>
												</ul>
											</div>
										</div>
									</div>
								</form>
								<!--===================================================-->
								<!--End Dropdowns Addons-->
					
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Validation States</h3>
								</div>
					
								<!--Validation States-->
								<!--===================================================-->
								<div class="panel-body">
									<div class="form-group">
										<label for="demo-vs-definput" class="control-label">Default input</label>
										<input type="text" id="demo-vs-definput" class="form-control">
									</div>
									<div class="form-group has-warning">
										<label for="demo-vs-warinput" class="control-label">Input with warning</label>
										<input type="text" id="demo-vs-warinput" class="form-control">
									</div>
									<div class="form-group has-error">
										<label for="demo-vs-errinput" class="control-label">Input with error</label>
										<input type="text" id="demo-vs-errinput" class="form-control">
									</div>
									<div class="form-group has-success">
										<label for="demo-vs-scsinput" class="control-label">Input with success</label>
										<input type="text" id="demo-vs-scsinput" class="form-control">
									</div>
								</div>
								<!--===================================================-->
								<!--END OF VALIDATION STATES-->
					
							</div>
						</div>
						<div class="col-lg-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">With optional icons</h3>
								</div>
								<div class="panel-body">
					
									<!--Validation States-->
									<!--===================================================-->
									<div class="form-group has-feedback">
										<label for="demo-oi-definput" class="control-label">Default input</label>
										<input type="text" id="demo-oi-definput" class="form-control">
										<span class="fa fa-user fa-lg form-control-feedback"></span>
									</div>
									<div class="form-group has-success has-feedback">
										<label for="demo-oi-sccinput" class="control-label">Input with success</label>
										<input type="text" id="demo-oi-sccinput" class="form-control">
										<span class="fa fa-check fa-lg form-control-feedback"></span>
									</div>
									<div class="form-group has-warning has-feedback">
										<label for="demo-oi-warinput" class="control-label">Input with warning</label>
										<input type="text" id="demo-oi-warinput" class="form-control">
										<span class="fa fa-warning fa-lg form-control-feedback"></span>
									</div>
									<div class="form-group has-error has-feedback">
										<label for="demo-oi-errinput" class="control-label">Input with error</label>
										<input type="text" id="demo-oi-errinput" class="form-control">
										<span class="fa fa-times fa-lg form-control-feedback"></span>
									</div>
									<!--===================================================-->
									<!--End Validation States-->
					
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Basic Form Elements</h3>
								</div>
					
					
								<!-- BASIC FORM ELEMENTS -->
								<!--===================================================-->
								<form class="panel-body form-horizontal form-padding">
					
									<!--Static-->
									<div class="form-group">
										<label class="col-md-3 control-label">Static</label>
										<div class="col-md-9"><p class="form-control-static">Username</p></div>
									</div>
					
									<!--Text Input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Text Input</label>
										<div class="col-md-9">
											<input type="text" id="demo-text-input" class="form-control" placeholder="Text">
											<small class="help-block">This is a help text</small>
										</div>
									</div>
					
									<!--Email Input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-email-input">Email Input</label>
										<div class="col-md-9">
											<input type="email" id="demo-email-input" class="form-control" placeholder="Enter your email">
											<small class="help-block">Please enter your email</small>
										</div>
									</div>
					
									<!--Password-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-password-input">Password</label>
										<div class="col-md-9">
											<input type="password" id="demo-password-input" class="form-control" placeholder="Password">
											<small class="help-block">Please enter password</small>
										</div>
									</div>
					
									<!--Readonly Input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-readonly-input">Readonly input</label>
										<div class="col-md-9">
											<input type="text" id="demo-readonly-input" class="form-control" placeholder="Readonly input here..." readonly>
										</div>
									</div>
					
									<!--Textarea-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Textarea</label>
										<div class="col-md-9">
											<textarea id="demo-textarea-input" rows="9" class="form-control" placeholder="Your content here.."></textarea>
										</div>
									</div>
					
									<div class="form-group">
										<label class="col-md-3 control-label">Radio Buttons</label>
										<div class="col-md-9">
											<div class="col-md-6 pad-no form-block">
												<v-radiogrop
												:name="false" 
												type="form-block"
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-normal',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-normal'},
							                    {value:'option3',display:'Option 3',style : 'form-normal'}
							                    ]">
												</v-radiogrop>
												<!-- Radio Buttons -->
												<!-- <label class="form-radio form-normal active"><input type="radio" checked="" name="de-blk"> Option 1 (pre-checked)</label>
												<label class="form-radio form-normal"><input type="radio" name="de-blk"> Option 2</label>
												<label class="form-radio form-normal"><input type="radio" name="de-blk"> Option 3</label> -->
					
											</div>
											<div class="col-md-6 pad-no form-block">
												<v-radiogrop
												:name="false" 
												type="form-block"
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-icon',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-icon'},
							                    {value:'option3',display:'Option 3',style : 'form-icon'}
							                    ]">
												</v-radiogrop>
												<!-- Icon Radio Buttons -->
												<!-- <label class="form-radio form-icon active"><input type="radio" checked="" name="ico-blk"> Option 1 (pre-checked)</label>
												<label class="form-radio form-icon"><input type="radio" name="ico-blk"> Option 2</label>
												<label class="form-radio form-icon"><input type="radio" name="ico-blk"> Option 3</label> -->
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Inline Radio buttons</label>
										<div class="col-md-9">
											<div class="radio">
												<v-radiogrop
												:name="false" 
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-normal',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-normal'},
							                    {value:'option3',display:'Option 3',style : 'form-normal'}
							                    ]">
												</v-radiogrop>
					
												<!-- Inline radio buttons -->
												<!-- <label class="form-radio form-normal active"><input type="radio" checked="" name="def-w-label"> Option 1 (pre-checked)</label>
												<label class="form-radio form-normal"><input type="radio" name="def-w-label"> Option 2</label>
												<label class="form-radio form-normal"><input type="radio" name="def-w-label"> Option 3</label> -->
					
											</div>
											<hr class="hr-sm">
											<div class="radio">
												<v-radiogrop
												:name="false" 
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-icon',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-icon'},
							                    {value:'option3',display:'Option 3',style : 'form-icon'}
							                    ]">
												</v-radiogrop>
					
												<!-- Inline Icon Radios Buttons -->
												<!-- <label class="form-radio form-icon active"><input type="radio" checked="" name="ico-w-label"> Option 1 (pre-checked)</label>
												<label class="form-radio form-icon"><input type="radio" name="ico-w-label"> Option 2</label>
												<label class="form-radio form-icon"><input type="radio" name="ico-w-label"> Option 3</label> -->
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Checkboxes</label>
										<div class="col-md-9">
											<div class="col-md-6 pad-no form-block">
												<v-checkboxgrop
												:model="[]"
												name="name14" 
												type="form-block"
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-normal',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-normal'},
							                    {value:'option3',display:' Option 3',style : 'form-normal'}
							                    ]">
												</v-checkboxgrop>
					
												<!-- Checkboxes -->
												<!-- <label class="form-checkbox form-normal active"><input type="checkbox" checked=""> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-normal"><input type="checkbox"> Option 2</label>
												<label class="form-checkbox form-normal"><input type="checkbox"> Option 3</label> -->
					
											</div>
											<div class="col-md-6 pad-no form-block">
												<v-checkboxgrop
												:model="[]"
												name="name13"
												type="form-block"
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-icon',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-icon'},
							                    {value:'option3',display:' Option 3',style : 'form-icon'}
							                    ]">
												</v-checkboxgrop>
					
												<!-- Icon Checkboxes -->
												<!-- <label class="form-checkbox form-icon active"><input type="checkbox" checked=""> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-icon"><input type="checkbox"> Option 2</label>
												<label class="form-checkbox form-icon"><input type="checkbox"> Option 3</label> -->
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Inline Checkboxes</label>
										<div class="col-md-9">
											<div class="checkbox">
												<v-checkboxgrop
												:model="[]"
												name="name12" 
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-normal',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-normal'},
							                    {value:'option3',display:' Option 3',style : 'form-normal'}
							                    ]">
												</v-checkboxgrop>
					
												<!-- Inline Checkboxes -->
												<!-- <label class="form-checkbox form-normal active"><input type="checkbox" checked=""> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-normal"><input type="checkbox"> Option 2</label>
												<label class="form-checkbox form-normal"><input type="checkbox"> Option 3</label> -->
					
											</div>
											<hr class="hr-sm">
											<div class="checkbox">
												<v-checkboxgrop
												:model="[]"
												name="name11" 
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-icon',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-icon'},
							                    {value:'option3',display:' Option 3',style : 'form-icon'}
							                    ]">
												</v-checkboxgrop>
					
												<!-- Inline Icon Checkboxes -->
												<!-- <label class="form-checkbox form-icon active"><input type="checkbox" checked=""> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-icon"><input type="checkbox"> Option 2</label>
												<label class="form-checkbox form-icon"><input type="checkbox"> Option 3</label> -->
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">File input</label>
										<div class="col-md-9">
											<span class="pull-left btn btn-default btn-file">
											Browse... <input type="file">
											</span>
										</div>
									</div>
								</form>
								<!--===================================================-->
								<!-- END BASIC FORM ELEMENTS -->
					
					
							</div>
						</div>
						<div class="col-lg-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Disalbed</h3>
								</div>
					
					
								<!-- BASIC FORM ELEMENTS -->
								<!--===================================================-->
								<form class="panel-body form-horizontal form-padding">
					
									<!--Static-->
									<div class="form-group">
										<label class="col-md-3 control-label">Static</label>
										<div class="col-md-9"><p class="form-control-static">Username</p></div>
									</div>
					
									<!--Text Input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-text-input">Text Input</label>
										<div class="col-md-9">
											<input type="text" id="demo-text-input" class="form-control" placeholder="Text" disabled>
											<small class="help-block">This is a help text</small>
										</div>
									</div>
					
									<!--Email Input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-email-input">Email Input</label>
										<div class="col-md-9">
											<input type="email" id="demo-email-input" class="form-control" placeholder="Enter your email" disabled>
											<small class="help-block">Please enter your email</small>
										</div>
									</div>
					
									<!--Password-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-password-input">Password</label>
										<div class="col-md-9">
											<input type="password" id="demo-password-input" class="form-control" placeholder="Password" disabled>
											<small class="help-block">Please enter password</small>
										</div>
									</div>
					
									<!--Readonly Input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-readonly-input">Readonly input</label>
										<div class="col-md-9">
											<input type="text" id="demo-readonly-input" class="form-control" placeholder="Readonly input here..." readonly>
										</div>
									</div>
					
									<!--Textarea-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="demo-textarea-input">Textarea</label>
										<div class="col-md-9">
											<textarea id="demo-textarea-input" rows="9" class="form-control" placeholder="Your content here.." disabled></textarea>
										</div>
									</div>
					
									<div class="form-group">
										<label class="col-md-3 control-label">Radio Buttons</label>
										<div class="col-md-9">
											<div class="col-md-6 pad-no form-block">
												<v-radiogrop
												:name="false" 
												type="form-block"
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-normal disabled',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-normal disabled'},
							                    {value:'option3',display:'Option 3',style : 'form-normal disabled'}
							                    ]">
												</v-radiogrop>
												<!-- Radio Buttons -->
												<!-- <label class="form-radio form-normal active"><input type="radio" checked="" name="de-blk"> Option 1 (pre-checked)</label>
												<label class="form-radio form-normal"><input type="radio" name="de-blk"> Option 2</label>
												<label class="form-radio form-normal"><input type="radio" name="de-blk"> Option 3</label> -->
					
											</div>
											<div class="col-md-6 pad-no form-block">
												<v-radiogrop
												:name="false" 
												type="form-block"
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-icon disabled',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-icon disabled'},
							                    {value:'option3',display:'Option 3',style : 'form-icon disabled'}
							                    ]">
												</v-radiogrop>
												<!-- Icon Radio Buttons -->
												<!-- <label class="form-radio form-icon active"><input type="radio" checked="" name="ico-blk"> Option 1 (pre-checked)</label>
												<label class="form-radio form-icon"><input type="radio" name="ico-blk"> Option 2</label>
												<label class="form-radio form-icon"><input type="radio" name="ico-blk"> Option 3</label> -->
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Inline Radio buttons</label>
										<div class="col-md-9">
											<div class="radio">
												<v-radiogrop
												:name="false" 
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-normal disabled',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-normal disabled'},
							                    {value:'option3',display:'Option 3',style : 'form-normal disabled'}
							                    ]">
												</v-radiogrop>
					
												<!-- Inline radio buttons -->
												<!-- <label class="form-radio form-normal active"><input type="radio" checked="" name="def-w-label"> Option 1 (pre-checked)</label>
												<label class="form-radio form-normal"><input type="radio" name="def-w-label"> Option 2</label>
												<label class="form-radio form-normal"><input type="radio" name="def-w-label"> Option 3</label> -->
					
											</div>
											<hr class="hr-sm">
											<div class="radio">
												<v-radiogrop
												:name="false" 
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-icon disabled',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-icon disabled'},
							                    {value:'option3',display:'Option 3',style : 'form-icon disabled'}
							                    ]">
												</v-radiogrop>
					
												<!-- Inline Icon Radios Buttons -->
												<!-- <label class="form-radio form-icon active"><input type="radio" checked="" name="ico-w-label"> Option 1 (pre-checked)</label>
												<label class="form-radio form-icon"><input type="radio" name="ico-w-label"> Option 2</label>
												<label class="form-radio form-icon"><input type="radio" name="ico-w-label"> Option 3</label> -->
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Checkboxes</label>
										<div class="col-md-9">
											<div class="col-md-6 pad-no form-block">
												<v-checkboxgrop
												:model="[]"
												name="name14" 
												type="form-block"
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-normal disabled',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-normal disabled'},
							                    {value:'option3',display:' Option 3',style : 'form-normal disabled'}
							                    ]">
												</v-checkboxgrop>
					
												<!-- Checkboxes -->
												<!-- <label class="form-checkbox form-normal active"><input type="checkbox" checked=""> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-normal"><input type="checkbox"> Option 2</label>
												<label class="form-checkbox form-normal"><input type="checkbox"> Option 3</label> -->
					
											</div>
											<div class="col-md-6 pad-no form-block">
												<v-checkboxgrop
												:model="[]"
												name="name13"
												type="form-block"
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-icon disabled',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-icon disabled'},
							                    {value:'option3',display:' Option 3',style : 'form-icon disabled'}
							                    ]">
												</v-checkboxgrop>
					
												<!-- Icon Checkboxes -->
												<!-- <label class="form-checkbox form-icon active"><input type="checkbox" checked=""> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-icon"><input type="checkbox"> Option 2</label>
												<label class="form-checkbox form-icon"><input type="checkbox"> Option 3</label> -->
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Inline Checkboxes</label>
										<div class="col-md-9">
											<div class="checkbox">
												<v-checkboxgrop
												:model="[]"
												name="name12" 
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-normal disabled',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-normal disabled'},
							                    {value:'option3',display:' Option 3',style : 'form-normal disabled'}
							                    ]">
												</v-checkboxgrop>
					
												<!-- Inline Checkboxes -->
												<!-- <label class="form-checkbox form-normal active"><input type="checkbox" checked=""> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-normal"><input type="checkbox"> Option 2</label>
												<label class="form-checkbox form-normal"><input type="checkbox"> Option 3</label> -->
					
											</div>
											<hr class="hr-sm">
											<div class="checkbox">
												<v-checkboxgrop
												:model="[]"
												name="name11" 
												:options="[
							                    {value:'option1',display:'Option 1 (pre-checked)',style : 'form-icon disabled',checked:true},
							                    {value:'option2',display:'Option 2',style : 'form-icon disabled'},
							                    {value:'option3',display:' Option 3',style : 'form-icon disabled'}
							                    ]">
												</v-checkboxgrop>
					
												<!-- Inline Icon Checkboxes -->
												<!-- <label class="form-checkbox form-icon active"><input type="checkbox" checked=""> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-icon"><input type="checkbox"> Option 2</label>
												<label class="form-checkbox form-icon"><input type="checkbox"> Option 3</label> -->
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">File input</label>
										<div class="col-md-9">
											<span class="pull-left btn btn-default btn-file disabled">
											Browse... <input type="file">
											</span>
										</div>
									</div>
								</form>
								<!--===================================================-->
								<!-- END BASIC FORM ELEMENTS -->
					
					
							</div>
						</div>
						<!-- <div class="col-lg-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Disabled</h3>
								</div>  -->
					
					
								<!-- DISABLED FORM ELEMENTS-->
								<!--===================================================-->
								<!-- <form class="panel-body form-horizontal form-padding"> -->
					
									<!--Static-->
									<!-- <div class="form-group">
										<label class="col-md-3 control-label">Static</label>
										<div class="col-md-9">
											<p class="form-control-static">Username</p>
										</div>
									</div> -->
					
									<!--Disabled Text Input-->
									<!-- <div class="form-group">
										<label class="col-md-3 control-label">Text Input</label>
										<div class="col-md-9">
											<input type="text" class="form-control" placeholder="Text" disabled>
											<small class="help-block">This is a help text</small>
										</div>
									</div> -->
					
									<!--Disabled Email Input-->
									<!-- <div class="form-group">
										<label class="col-md-3 control-label">Email Input</label>
										<div class="col-md-9">
											<input type="email" class="form-control" placeholder="Enter your email" disabled>
											<small class="help-block">Please enter your email</small>
										</div>
									</div> -->
					
									<!--Disabled Password-->
								<!-- 	<div class="form-group">
										<label class="col-md-3 control-label">Password</label>
										<div class="col-md-9">
											<input type="password" class="form-control" placeholder="Password" disabled>
											<small class="help-block">Please enter password</small>
										</div>
									</div> -->
					
									<!--Readonly Input-->
									<!-- <div class="form-group">
										<label class="col-md-3 control-label">Readonly input</label>
										<div class="col-md-9">
											<input type="text" class="form-control" placeholder="Readonly input here..." readonly disabled>
										</div>
									</div> -->
					
					
									<!--Disabled Textarea-->
									<!-- <div class="form-group">
										<label class="col-md-3 control-label">Textarea</label>
										<div class="col-md-9">
											<textarea rows="9" class="form-control" placeholder="Your content here.." disabled></textarea>
										</div>
									</div>
					
									<div class="form-group">
										<label class="col-md-3 control-label">Radio Buttons</label>
										<div class="col-md-9">
											<div class="col-md-6 pad-no form-block"> -->
					
												<!--Disabled Radio Buttons -->
												<!-- <label class="form-radio form-normal active disabled"><input type="radio" name="de-blk2" checked disabled> Option 1 (pre-checked)</label>
												<label class="form-radio form-normal disabled"><input type="radio" name="de-blk2" disabled> Option 2</label>
												<label class="form-radio form-normal disabled"><input type="radio" name="de-blk2" disabled> Option 3</label>
					
											</div>
											<div class="col-md-6 pad-no form-block"> -->
					
												<!--Disabled Icon Radio Buttons -->
												<!-- <label class="form-radio form-icon active disabled"><input type="radio" name="ico-blk2" checked disabled> Option 1 (pre-checked)</label>
												<label class="form-radio form-icon disabled"><input type="radio" name="ico-blk2" disabled> Option 2</label>
												<label class="form-radio form-icon disabled"><input type="radio" name="ico-blk2" disabled> Option 3</label>
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Inline Radio Buttons</label>
										<div class="col-md-9">
											<div class="radio"> -->
					
												<!-- Inline Disabled Radios Buttons -->
												<!-- <label class="form-radio form-normal active disabled"><input type="radio" name="def-w-label" checked disabled> Option 1 (pre-checked)</label>
												<label class="form-radio form-normal disabled"><input type="radio" name="def-w-label" disabled> Option 2</label>
												<label class="form-radio form-normal disabled"><input type="radio" name="def-w-label" disabled> Option 3</label>
					 -->
											<!-- </div>
											<hr class="hr-sm">
											<div class="radio"> -->
					
												<!-- Inline Disabled Icon Radios Buttons -->
												<!-- <label class="form-radio form-icon active disabled"><input type="radio" name="ico-w-label2" checked disabled> Option 1 (pre-checked)</label>
												<label class="form-radio form-icon disabled"><input type="radio" name="ico-w-label2" disabled> Option 2</label>
												<label class="form-radio form-icon disabled"><input type="radio" name="ico-w-label2" disabled> Option 3</label>
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Checkboxes</label>
										<div class="col-md-9">
											<div class="col-md-6 pad-no form-block">
					 -->
												<!-- Disabled Checkboxes -->
												<!-- <label class="form-checkbox form-normal active disabled"><input type="checkbox" checked disabled> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-normal disabled"><input type="checkbox" disabled> Option 2</label>
												<label class="form-checkbox form-normal disabled"><input type="checkbox" disabled> Option 3</label>
					
											</div>
											<div class="col-md-6 pad-no form-block"> -->
					
												<!-- Disabled Icon Checkboxes -->
												<!-- <label class="form-checkbox form-icon active disabled"><input type="checkbox" checked disabled> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-icon disabled"><input type="checkbox" disabled> Option 2</label>
												<label class="form-checkbox form-icon disabled"><input type="checkbox" disabled> Option 3</label>
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Inline Checkboxes</label>
										<div class="col-md-9">
											<div class="checkbox"> -->
					
												<!-- Inline Disabled Checkboxes -->
												<!-- <label class="form-checkbox form-normal active disabled"><input type="checkbox" checked disabled> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-normal disabled"><input type="checkbox" disabled> Option 2</label>
												<label class="form-checkbox form-normal disabled"><input type="checkbox" disabled> Option 3</label>
					
											</div>
											<hr class="hr-sm">
											<div class="checkbox"> -->
					
												<!-- Inline Disabled Icon Checkboxes -->
												<!-- <label class="form-checkbox form-icon active disabled"><input type="checkbox" checked disabled> Option 1 (pre-checked)</label>
												<label class="form-checkbox form-icon disabled"><input type="checkbox" disabled> Option 2</label>
												<label class="form-checkbox form-icon disabled"><input type="checkbox" disabled> Option 3</label>
					
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">File input</label>
										<div class="col-md-9">
											<span class="pull-left btn btn-default btn-file disabled">
												Browse... <input type="file" disabled>
											</span>
										</div>
									</div>
								</form> -->
								<!--===================================================-->
								<!-- END DISABLED FORM ELEMENTS -->
					
							<!-- </div>
						</div>
					</div> -->
					
					
				</div>
				<!--===================================================-->
				<!--End page content-->
