<!--#include file="111.asp"-->

				<!--Page content-->
				<!--===================================================-->
				<div id="page-content">
					
					
					<div class="row">
						<div class="col-sm-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Striped rows</h3>
								</div>
					
								<!-- Striped Table -->
								<!--===================================================-->
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>#</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Username</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Mark</td>
													<td>Otto</td>
													<td>@mdo</td>
												</tr>
												<tr>
													<td>2</td>
													<td>Jacob</td>
													<td>Thornton</td>
													<td>@fat</td>
												</tr>
												<tr>
													<td>3</td>
													<td>Larry</td>
													<td>the Bird</td>
													<td>@twitter</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!--===================================================-->
								<!-- End Striped Table -->
					
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Bordered table</h3>
								</div>
					
								<!--Bordered Table-->
								<!--===================================================-->
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>#</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Username</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Mark</td>
													<td>Otto</td>
													<td>@mdo</td>
												</tr>
												<tr>
													<td>2</td>
													<td>Jacob</td>
													<td>Thornton</td>
													<td>@fat</td>
												</tr>
												<tr>
													<td>3</td>
													<td>Larry</td>
													<td>the Bird</td>
													<td>@twitter</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!--===================================================-->
								<!--End Bordered Table-->
					
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Hover rows</h3>
								</div>
					
								<!--Hover Rows-->
								<!--===================================================-->
								<div class="panel-body">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Username</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Mark</td>
												<td>Otto</td>
												<td>@mdo</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Jacob</td>
												<td>Thornton</td>
												<td>@fat</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Larry</td>
												<td>the Bird</td>
												<td>@twitter</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!--===================================================-->
								<!--End Hover Rows-->
					
							</div>
						</div>
						<div class="col-lg-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Condensed table</h3>
								</div>
					
								<!--Condensed Table-->
								<!--===================================================-->
								<div class="panel-body">
									<table class="table  table-condensed">
										<thead>
											<tr>
												<th>#</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Username</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Mark</td>
												<td>Otto</td>
												<td>@mdo</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Jacob</td>
												<td>Thornton</td>
												<td>@fat</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Larry</td>
												<td>the Bird</td>
												<td>@twitter</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!--===================================================-->
								<!--End Condensed Table-->
					
							</div>
						</div>
					</div>
					<div class="panel">
					
						<!--Data Table-->
						<!--===================================================-->
                        <div class="panel-body yj3-top bgbian txtcolor">
                        	<h4>自定义</h4>
                            <div id="" class="box-inline text-thin">
                                    <a class="btn btn-tm btn-labeled fa fa-shopping-cart" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">点击展开</a>
                                    <button class="btn btn-tm btn-labeled fa fa-shopping-cart">普通按钮</button>
                                    <button data-target="#demo-default-modal" data-toggle="modal" class="btn btn-tm btn-labeled fa fa-shopping-cart">弹出框代码在最后面</button>
                                        <div class="collapse" id="collapseExample">
                                          <div><!--展开处-->
                                           	  <div></div>
                                              
                                              
                                              
                                              <div><div class="btn-group juli2-up btn-group-sm" data-toggle="buttons">
                                              	  <span class="btn1">复选框： </span>
                                                  <label class="btn btn-tm active">
                                                    <input type="checkbox" autocomplete="off">复选
                                                  </label>
                                                  <label class="btn btn-tm">
                                                    <input type="checkbox" autocomplete="off">复选
                                                  </label>
                                                  <label class="btn btn-tm">
                                                    <input type="checkbox" autocomplete="off">复选
                                                  </label>
                                              </div></div>
                                              
                                              <div><div class="btn-group juli2-up btn-group-sm" data-toggle="buttons">
                                              	  <span class="btn1">复选框： </span>
                                                  <label class="btn btn-tm active">
                                                    <input type="checkbox" autocomplete="off">复选
                                                  </label>
                                                  <label class="btn btn-tm">
                                                    <input type="checkbox" autocomplete="off">复选
                                                  </label>
                                                  <label class="btn btn-tm">
                                                    <input type="checkbox" autocomplete="off">复选
                                                  </label>
                                              </div></div>
                                              
                                              
                                                
                                              <div class="juli2-up"><button class="btn btn-tm btn-labeled fa fa-shopping-cart">确定</button></div>
                                              
                                          </div><!--展开处end-->
                                        </div>
                            </div>
                        </div>
                        
						<div class="panel-body">                           
							<table id="demo-table" class="table-striped" data-toolbar="#demo-custom-toolbar" data-sort-name="id" data-sort-order="desc" data-pagination="true" data-url="data/data-table.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar">
								<thead>
									<tr>
										<th data-field="id" data-align="center" data-sortable="true" data-formatter="invoiceFormatter">Invoice</th>
										<th data-field="name" data-sortable="true" data-formatter="nameFormatter">User</th>
										<th data-field="date" data-sortable="true" data-formatter="dateFormatter">Order Date</th>
										<th data-field="amount" data-align="center" data-sortable="true" data-sorter="priceSorter">Amount</th>
										<th data-field="status" data-align="center" data-sortable="true" data-formatter="statusFormatter">Status</th>
										<th data-field="track" data-align="center" data-sortable="true" data-formatter="trackFormatter">Tracking Number</th>
									</tr>
								</thead>
							</table>
						</div>
						<!--===================================================-->
						<!--End Data Table-->
					
					</div>
					
                    <!------------------------------------------------->
                        <div class="panel">
                        <table border="0" class="juli5 yj3-top anniu1 w100 bgbian  txtcolor">
    <td>
<h4>自定义</h4>
        <button class="btn btn-tm" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-filter"></i> 展开
        </button>
        
        <button type="button" class="btn btn-tm">确定</button>
        
        <button class="btn btn-tm btn-labeled fa fa-plus">普通按钮</button>
        
        <button class="btn btn-tm btn-labeled fa fa-shopping-cart">普通按钮</button>
        
        <button class="btn btn-tm btn-labeled fa fa-shopping-cart">普通按钮</button>
        
        <button type="button" class="btn btn-tm" data-toggle="modal" data-target="#myModal1" data-whatever="@mdo">弹出</button>

    
    <div class="pull-right">
            <button type="button" class="btn btn-tm">确定</button>
    </div>
    <div class=" pull-right w200px">
        <input type="text" placeholder="Search" class="form-control bianno">
    </div>
<!-- Button trigger modal -->

<!-- 展开 -->
<div class="collapse" id="collapseExample1">

    
 <div><div class="btn-group juli2-up btn-group-sm" data-toggle="buttons">
      <span class="btn1">复选框： </span>
      
      <label class="btn btn-tm active">
        <input type="checkbox" autocomplete="off">复选
      </label>
      
      <label class="btn btn-tm">
        <input type="checkbox" autocomplete="off">复选
      </label>
      
      <label class="btn btn-tm">
        <input type="checkbox" autocomplete="off">复选
      </label>
      
</div></div>

 <div><div class="btn-group juli2-up btn-group-sm" data-toggle="buttons">
        <span class="btn1">复选框： </span>
        <div class=" pull-right w200px">
            <input type="text" placeholder="Search" class="form-control bianno">
        </div>  
</div></div>
    
    
    <div class="juli2-up">
    <button type="button" class="btn btn-tm">确定</button>
    </div>
</div>

    </td>
</table>
        
                        <table border="0" cellpadding="0" class="juli5 zeta-bgcolorb06 w100 zeta-bgcolor-bai2">
                            <td>
                            
                            <table border="0" cellpadding="5" cellspacing="3" class="w100">
                            
                            <tr>
                            <td width="50" class="text-center juli">编号</td>
                            <td class="juli">词名</td>
                            <td class="juli">
                              <select class="xiala2" name="1">
                                <option>用户标签</option>
                                <option>常用</option>
                                <option>地名</option>
                              </select>    
                            </td>
                            <td class="juli">
                              <select class="xiala2" name="2">
                                <option>词库分类</option>
                                <option>同义词</option>
                                <option>正面词</option>
                                <option>相关词</option>
                              </select>
                            </td>
                            <td class="juli">
                              <select class="xiala2" name="3">
                                <option>时间</option>
                                <option>2014-09</option>
                                <option>2014-10</option>
                                <option>2014-11</option>
                                <option>2014-12</option>
                                <option>2015-01</option>
                                <option>2015-02</option>
                              </select>
                            </td>
                            <td width="50" class="juli text-center">编辑</td>
                            <td width="50" class="juli text-center"><input type="checkbox" name="checkbox2" id="checkbox2" /></td>
                            <td width="50" class="juli text-center">导出</td>
                            <td width="50" class="juli text-center">删除</td>
                            </tr>
                        <!--代码循环/-->
                            <tr>
                            <td class="text-center zeta-bgcolorbai juli bian3 yj3-zuo">1</td>
                            <td class="zeta-bgcolorbai juli bian3">万人计划</td>
                            <td class="zeta-bgcolorbai juli bian3">常用</td>
                            <td class="zeta-bgcolorbai juli bian3"><span class="label label-success">Success</span></td>
                            <td class="zeta-bgcolorbai juli bian3">2014-12-31</td>
                            <td class="zeta-bgcolorbai juli bian3 text-center"><i class="fa fa-anchor fa-lg"></i></td>
                            <td class="zeta-bgcolorbai juli bian3 text-center"><input type="checkbox" name="checkbox2" id="checkbox2" /></td>
                            <td class="zeta-bgcolorbai juli bian3 text-center"><i class="fa fa-pencil-square-o fa-lg"></i></td>
                            <td class="zeta-bgcolorbai juli bian3 text-center yj3-you"><i class="fa fa-pencil-square-o fa-lg"></i></td>
                            </tr>
                        <!--代码循环end/-->
                        
                         <!--代码循环/-->
                            <tr>
                            <td class="text-center zeta-bgcolorbai juli bian3 yj3-zuo">1</td>
                            <td class="zeta-bgcolorbai juli bian3">万人计划</td>
                            <td class="zeta-bgcolorbai juli bian3">常用</td>
                            <td class="zeta-bgcolorbai juli bian3"><span class="label label-success">Success</span></td>
                            <td class="zeta-bgcolorbai juli bian3">2014-12-31</td>
                            <td class="zeta-bgcolorbai juli bian3 text-center"><i class="fa fa-pencil-square-o fa-lg"></i></td>
                            <td class="zeta-bgcolorbai juli bian3 text-center"><input type="checkbox" name="checkbox2" id="checkbox2" /></td>
                            <td class="zeta-bgcolorbai juli bian3 text-center"><i class="fa fa-pencil-square-o fa-lg"></i></td>
                            <td class="zeta-bgcolorbai juli bian3 text-center yj3-you"><i class="fa fa-pencil-square-o fa-lg"></i></td>
                            </tr>
                        <!--代码循环end/-->
                               
                            </table>
                            
                            </td>
                        </table>
                                    
                        <table border="0" class="zeta-bgcolorbai juli5 yj3-down w100">
                                    <td class="font14">共200页 / 跳转到 <input type="text" size="1" /> 页 <button type="button" class="btn anniu1 btn-xs">ok</button></td>
                                    <td>
                                        <div class="btn-group" data-toggle="buttons">
                                          <label class="btn btn-default active btn-xs">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked>20条
                                          </label>
                                          <label class="btn btn-default btn-xs">
                                            <input type="radio" name="options" id="option2" autocomplete="off">50条
                                          </label>
                                          <label class="btn btn-default btn-xs">
                                            <input type="radio" name="options" id="option3" autocomplete="off">100条
                                          </label>
                                        </div>
                                    </td>
                                    <td class="text-right">
<ul class="pagination">
<li class="page-first"><a href="javascript:void(0)">&lt;&lt;</a></li>
<li class="page-pre"><a href="javascript:void(0)">&lt;</a></li>
<li class="page-next"><a href="javascript:void(0)">&gt;</a></li>
<li class="page-last"><a href="javascript:void(0)">&gt;&gt;</a></li>
</ul>
                                    </td>
                        </table>     
                        </div> 
                    <!------------------------------------------------->
					
				</div>
				<!--===================================================-->
				<!--End page content-->
<!--#include file="222.asp"-->
<script src="js/demo/tables.js"></script>
	<!--弹出框-->
	<!--===================================================-->
	<div class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<!--Modal header-->
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">
					<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Modal Heading</h4>
				</div>

				<!--Modal body-->
				<div class="modal-body">
					<h4 class="text-thin">Bootstrap Modal Vertical Alignment Center</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					<hr>
					<h4 class="text-thin">Popover in a modal</h4>
					<p>This
						<button class="btn btn-sm btn-warning demo-modal-popover add-popover" data-toggle="popover" data-trigger="focus" data-content="And here\'s some amazing content. It\'s very engaging. right?" data-original-title="Popover Title">button</button>
						should trigger a popover on click.
					</p>
					<hr>
					<h4 class="text-thin">Tooltips in a modal</h4>
					<p>
						<a class="btn-link add-tooltip" href="#" data-original-title="Tooltip">This link</a> and
						<a class="btn-link add-tooltip" href="#" data-original-title="Tooltip">that link</a> should have tooltips on hover.
					</p>
				</div>

				<!--Modal footer-->
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
					<button class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
    
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
	<!--===================================================-->
	<!--弹出框end-->
</body>
</html>

