				<!--Page content-->
				<!--===================================================-->
				<div id="page-content">
					
					<div class="row">
						<div class="col-sm-6 col-lg-3">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Block level checkboxes</h3>
								</div>
								<div class="panel-body">
									<div class="pad-ver">

										<v-checkboxgrop
										:model="[]"
										name="name1" 
										type="form-block"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-normal form-primary',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-normal form-primary'},
					                    {value:'option3',display:'选项三',style : 'form-normal form-primary'}
					                    ]">
										</v-checkboxgrop>
					
										<!--Block level checkboxes-->
										<!--===================================================-->
										<!-- <form class="form-block">
											<label class="form-checkbox form-normal form-primary active"><input type="checkbox" checked> Option 1</label>
											<label class="form-checkbox form-normal form-primary"><input type="checkbox"> Option 2</label>
											<label class="form-checkbox form-normal form-primary"><input type="checkbox"> Option 3</label>
										</form> -->
										<!--===================================================-->
					
									</div>
									<hr>
									<div class="pad-ver">
										<v-checkboxgrop
										:model="[]" 
										name="name2" 
										type="form-block"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon'},
					                    {value:'option3',display:'选项三',style : 'form-icon'}
					                    ]">
										</v-checkboxgrop>
										<!--Block level icon checkboxes-->
										<!--===================================================-->
										<!-- <form class="form-block">
											<label class="form-checkbox form-icon active"><input type="checkbox" checked> Option 1</label>
											<label class="form-checkbox form-icon"><input type="checkbox"> Option 2</label>
											<label class="form-checkbox form-icon"><input type="checkbox"> Option 3</label>
										</form> -->
										<!--===================================================-->
					
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Block level Radio</h3>
								</div>
								<div class="panel-body">
									<div class="pad-ver">
										<v-radiogrop
										name="name2" 
										type="form-block"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-normal',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-normal'},
					                    {value:'option3',display:'选项三',style : 'form-normal'}
					                    ]">
										</v-radiogrop>
										<!--Block level radio buttons-->
										<!--===================================================-->
										<!-- <form class="form-block">
											<label class="form-radio form-normal active"><input type="radio" checked name="de-blk"> Option 1</label>
											<label class="form-radio form-normal"><input type="radio" name="de-blk"> Option 2</label>
											<label class="form-radio form-normal"><input type="radio" name="de-blk"> Option 3</label>
										</form> -->
										<!--===================================================-->
					
									</div>
									<hr>
									<div class="pad-ver">
										<v-radiogrop
										name="name2" 
										type="form-block"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon'},
					                    {value:'option3',display:'选项三',style : 'form-icon'}
					                    ]">
										</v-radiogrop>
										<!--Block level icon radio buttons-->
										<!--===================================================-->
										<!-- <form class="form-block">
											<label class="form-radio form-icon active"><input type="radio" name="ico-blk" checked> Option</label>
											<label class="form-radio form-icon"><input type="radio" name="ico-blk"> Option 2</label>
											<label class="form-radio form-icon"><input type="radio" name="ico-blk"> Option 3</label>
										</form> -->
										<!--===================================================-->
					
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Block level checkboxes</h3>
								</div>
								<div class="panel-body">
									<div class="pad-ver">
										<v-checkboxgrop
										:model="[]" 
										name="name2" 
										type="form-block"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-primary',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-primary'}
					                    ]">
										</v-checkboxgrop>
										<!--Block level button checkboxes-->
										<!--===================================================-->
										<!-- <form class="form-block">
											<label class="form-checkbox form-icon btn btn-primary active"><input type="checkbox" checked> Option 1</label>
											<label class="form-checkbox form-icon btn btn-primary"><input type="checkbox"> Option 2</label>
										</form> -->
										<!--===================================================-->
					
									</div>
									<hr>
									<div class="pad-ver">
										<v-checkboxgrop
										:model="[]" 
										name="name2" 
										type="form-block"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-info',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-info'}
					                    ]">
					                    </v-checkboxgrop>
										<!--Block level button checkboxes-->
										<!--===================================================-->
										<!-- <form class="form-block">
											<label class="form-checkbox form-icon btn btn-info btn-labeled active"><input type="checkbox" checked> Option 1</label>
											<label class="form-checkbox form-icon btn btn-info btn-labeled"><input type="checkbox"> Option 2</label>
										</form> -->
										<!--===================================================-->
					
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Block level Radio</h3>
								</div>
								<div class="panel-body">
									<div class="pad-ver">
										<v-radiogrop
										name="name2" 
										type="form-block"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-primary',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-primary'}
					                    ]">
										</v-radiogrop>
										<!--Block level radio buttons-->
										<!--===================================================-->
										<!-- <form class="form-block">
											<label class="form-radio form-icon btn btn-primary active"><input type="radio" name="btn-bkl" checked> Option 1</label>
											<label class="form-radio form-icon btn btn-primary"><input type="radio" name="btn-bkl"> Option 2</label>
										</form> -->
										<!--===================================================-->
					
									</div>
									<hr>
									<div class="pad-ver">
										<v-radiogrop
										name="name2" 
										type="form-block"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-info'},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-info',checked:true}
					                    ]">
										</v-radiogrop>
										<!--Block level radio buttons-->
										<!--===================================================-->
										<!-- <form class="form-block">
											<label class="form-radio form-icon btn btn-info btn-labeled active"><input type="radio" name="btn-bkl-2" checked> Option 1</label>
											<label class="form-radio form-icon btn btn-info btn-labeled"><input type="radio" name="btn-bkl-2"> Option 2</label>
										</form> -->
										<!--===================================================-->
					
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
					
						<!-- CHECKBOXES -->
						<!--===================================================-->
						<div class="col-md-6">
					
							<!--Default checkboxes-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Default checkboxes</h3>
								</div>
								<div class="panel-body">
									<div class="pad-ver">
										<v-checkboxgrop
										:model="[]"
										name="name3" 
										:options="[
					                    {value:'option1',style : 'form-normal',checked:true},
					                    {value:'option2',style : 'form-normal'},
					                    {value:'option3',style : 'form-normal'},
					                    {value:'option4',style : 'form-normal disabled'}
					                    ]">
					                    </v-checkboxgrop>
										<!--Checkboxed without label-->
										<!-- <label class="form-checkbox form-normal active"><input type="checkbox" checked></label>
										<label class="form-checkbox form-normal"><input type="checkbox"></label>
										<label class="form-checkbox form-normal"><input type="checkbox"></label>
										<label class="form-checkbox form-normal disabled"><input type="checkbox" disabled></label> -->
					
									</div>
									<div class="pad-ver">
										<v-checkboxgrop
										:model="[]"
										name="name4" 
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-normal',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-normal'},
					                    {value:'option3',display:'选项三',style : 'form-normal'},
					                    {value:'option4',display:'选项四',style : 'form-normal disabled'}
					                    ]">
										<!--Checkboxes labeled-->
										<!-- <label class="form-checkbox form-normal active"><input type="checkbox" checked> Option 1</label>
										<label class="form-checkbox form-normal"><input type="checkbox"> Option 2</label>
										<label class="form-checkbox form-normal"><input type="checkbox"> Option 3</label>
										<label class="form-checkbox form-normal disabled"><input type="checkbox" disabled> Disabled</label> -->
					
									</div>
								</div>
							</div>
							<!--===================================================-->
					
					
					
							<!--Checkboxes using the font awesome icon-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-heading">
									<h4 class="panel-title">Checkboxes with Font Awesome</h4>
								</div>
								<div class="panel-body">
									<div class="pad-ver">
										<v-checkboxgrop
										:model="[]"
										name="name5" 
										:options="[
					                    {value:'option1',style : 'form-icon',checked:true},
					                    {value:'option2',style : 'form-icon'},
					                    {value:'option3',style : 'form-icon'},
					                    {value:'option4',style : 'form-icon disabled'}
					                    ]">
					                    </v-checkboxgrop>
										<!--Checkboxes without label-->
										<!--===================================================-->
										<!-- <label class="form-checkbox form-icon active"><input type="checkbox" checked></label>
										<label class="form-checkbox form-icon"><input type="checkbox"></label>
										<label class="form-checkbox form-icon"><input type="checkbox"></label>
										<label class="form-checkbox form-icon disabled"><input type="checkbox" disabled></label> -->
										<!--===================================================-->
					
									</div>
									<div class="pad-ver">
										<v-checkboxgrop
										:model="[]"
										name="name6" 
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon'},
					                    {value:'option3',display:'选项三',style : 'form-normal'},
					                    {value:'option4',display:'选项四',style : 'form-icon disabled'}
					                    ]">
					                    </v-checkboxgrop>
										<!--Checkboxes labeled-->
										<!--===================================================-->
										<!-- <label class="form-checkbox form-icon active"><input type="checkbox" checked> Option 1</label>
										<label class="form-checkbox form-icon"><input type="checkbox"> Option 2</label>
										<label class="form-checkbox form-icon"><input type="checkbox"> Option 3</label>
										<label class="form-checkbox form-icon disabled"><input type="checkbox" disabled> Disabled</label> -->
										<!--===================================================-->
					
									</div>
								</div>
							</div>
					
							<!--===================================================-->
							<!--End Checkboxes using the font awesome icon-->
					
							<br>
							<hr>
							<br>
					
							<!--Styled the checkbox to look like a button-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Checkbox Buttons</h3>
								</div>
								<div class="panel-body">
									<div class="pad-ver">
										<v-checkboxgrop
										:model="[]" 
										:options="[
					                    {value:'option1',style : 'form-icon form-no-label btn btn-primary',checked:true},
					                    {value:'option2',style : 'form-icon form-no-label btn btn-primary'},
					                    {value:'option3',style : 'form-icon form-no-label btn btn-primary'},
					                    {value:'option4',style : 'form-icon form-no-label btn btn-primary disabled'}
					                    ]">
					                    </v-checkboxgrop>
										<!--Checkboxes without label-->
										<!--===================================================-->
										<!-- <label class="form-checkbox form-icon form-no-label btn btn-primary active"><input type="checkbox" checked></label>
										<label class="form-checkbox form-icon form-no-label btn btn-primary"><input type="checkbox"></label>
										<label class="form-checkbox form-icon form-no-label btn btn-primary"><input type="checkbox"></label>
										<label class="form-checkbox form-icon form-no-label btn btn-primary disabled"><input type="checkbox" disabled></label> -->
										<!--===================================================-->
					
					
									</div>
									<div class="pad-ver">
										<v-checkboxgrop
										:model="[]"
										name="name8" 
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-success',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-success'},
					                    {value:'option3',display:'选项三',style : 'form-icon btn btn-success'},
					                    {value:'option4',display:'选项四',style : 'form-icon btn btn-success disabled'}
					                    ]">
					                    </v-checkboxgrop>
										<!--Checkboxes labeled-->
										<!--===================================================-->
										<!-- <span>
										<label class="form-checkbox form-icon btn btn-success active"><input type="checkbox" checked> Option 1</label>
										<label class="form-checkbox form-icon btn btn-success"><input type="checkbox"> Option 2</label>
										<label class="form-checkbox form-icon btn btn-success"><input type="checkbox"> Option 3</label>
										<label class="form-checkbox form-icon btn btn-success disabled"><input type="checkbox" disabled> Disabled</label>
										</span> -->
										<!--===================================================-->
					
									</div>
									<div class="pad-ver">
										<v-checkboxgrop
										:model="[]"
										name="name9" 
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-info btn-labeled',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-info btn-labeled'},
					                    {value:'option3',display:'选项三',style : 'form-icon btn btn-info btn-labeled'},
					                    {value:'option4',display:'选项四',style : 'form-icon btn btn-info btn-labeled disabled'}
					                    ]">
					                    </v-checkboxgrop>
										<!--Checkboxes labeled with a dark background-->
										<!--===================================================-->
										<!-- <label class="form-checkbox form-icon btn btn-info btn-labeled active"><input type="checkbox" checked> Option 1</label>
										<label class="form-checkbox form-icon btn btn-info btn-labeled"><input type="checkbox"> Option 2</label>
										<label class="form-checkbox form-icon btn btn-info btn-labeled"><input type="checkbox"> Option 3</label>
										<label class="form-checkbox form-icon btn btn-info btn-labeled disabled"><input type="checkbox" disabled> Disabled</label> -->
										<!--===================================================-->
					
									</div>
								</div>
							</div>
							<!--===================================================-->
							<!-- End Styled a checkbox to look like a button -->
					
					
							<!--Checkboxes buttons group-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Group</h3>
								</div>
								<div class="panel-body">
									<v-checkboxgrop
										:model="[]"
										name="name10"  
										type="btn-group"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-purple btn-labeled',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-purple btn-labeled'},
					                    {value:'option3',display:'选项三',style : 'form-icon btn btn-purple btn-labeled'},
					                    {value:'option4',display:'选项四',style : 'form-icon btn btn-purple btn-labeled'}
					                    ]">
					                </v-checkboxgrop>
									<div class="btn-group">
										<!-- <label class="form-checkbox form-icon btn btn-purple btn-labeled active"><input type="checkbox" checked> Option 1</label>
										<label class="form-checkbox form-icon btn btn-purple btn-labeled"><input type="checkbox"> Option 2</label>
										<label class="form-checkbox form-icon btn btn-purple btn-labeled"><input type="checkbox"> Option 3</label> -->
									</div>
								</div>
							</div>
							<!--===================================================-->
					
						</div>
						<!--===================================================-->
						<!--END CHECKBOXES-->
					
					
					
					
					
						<!--RADIO BUTTONS-->
						<!--===================================================-->
						<div class="col-md-6">
					
					
							<!--Default radio buttons -->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Default Radio Buttons</h3>
								</div>
					
								<div class="panel-body">
									<div class="pad-ver">
										<v-radiogrop
										name="name10"
										:options="[
					                    {value:'option1',style : 'form-normal',checked:true},
					                    {value:'option2',style : 'form-normal'},
					                    {value:'option3',style : 'form-normal'},
					                    {value:'option4',style : 'form-normal disabled'}
					                    ]">
										</v-radiogrop>
										<!--Radio buttons without label-->
										<!--===================================================-->
										<!-- <label class="form-radio form-normal active"><input type="radio" name="def-ex-label" checked></label>
										<label class="form-radio form-normal"><input type="radio" name="def-ex-label"></label>
										<label class="form-radio form-normal"><input type="radio" name="def-ex-label"></label>
										<label class="form-radio form-normal disabled"><input type="radio" name="def-ex-label" disabled></label> -->
										<!--===================================================-->
					
									</div>
									<div class="pad-ver">
										<v-radiogrop
										name="name10"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-normal',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-normal'},
					                    {value:'option3',display:'选项三',style : 'form-normal'},
					                    {value:'option4',display:'选项四',style : 'form-normal disabled'}
					                    ]">
										</v-radiogrop>
										<!--Radio buttons with label-->
										<!--===================================================-->
										<!-- <label class="form-radio form-normal active"><input type="radio" name="def-w-label" checked> Option 1</label>
										<label class="form-radio form-normal"><input type="radio" name="def-w-label"> Option 2</label>
										<label class="form-radio form-normal"><input type="radio" name="def-w-label"> Option 3</label>
										<label class="form-radio form-normal disabled"><input type="radio" name="def-w-label" disabled> Disabled</label> -->
										<!--===================================================-->
					
					
									</div>
								</div>
							</div>
							<!--===================================================-->
							<!--End Default radio button-->
					
					
							<!--Radio buttons using the font awesome icon-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Radio buttons with Font Awesome</h3>
								</div>
								<div class="panel-body">
									<div class="pad-ver">
										<v-radiogrop
										name="name10"
										:options="[
					                    {value:'option1',style : 'form-icon',checked:true},
					                    {value:'option2',style : 'form-icon'},
					                    {value:'option3',style : 'form-icon'},
					                    {value:'option4',style : 'form-icon disabled'}
					                    ]">
										</v-radiogrop>
										<!--Radio buttons without label-->
										<!--===================================================-->
										<!-- <label class="form-radio form-icon active"><input type="radio" name="ico-ex-label" checked></label>
										<label class="form-radio form-icon"><input type="radio" name="ico-ex-label"></label>
										<label class="form-radio form-icon"><input type="radio" name="ico-ex-label"></label>
										<label class="form-radio form-icon disabled"><input type="radio" name="ico-ex-label" disabled></label> -->
										<!--===================================================-->
					
									</div>
									<div class="pad-ver">
										<v-radiogrop
										name="name10"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon'},
					                    {value:'option3',display:'选项三',style : 'form-icon'},
					                    {value:'option4',display:'选项四',style : 'form-icon disabled'}
					                    ]">
										</v-radiogrop>
										<!--Radio buttons with label-->
										<!--===================================================-->
										<!-- <label class="form-radio form-icon active"><input type="radio" name="ico-w-label" checked> Option 1</label>
										<label class="form-radio form-icon"><input type="radio" name="ico-w-label"> Option 2</label>
										<label class="form-radio form-icon"><input type="radio" name="ico-w-label"> Option 3</label>
										<label class="form-radio form-icon disabled"><input type="radio" name="ico-w-label" disabled> Disabled</label> -->
										<!--===================================================-->
					
									</div>
								</div>
							</div>
							<!--===================================================-->
							<!-- End of Radio buttons using the font awesome icon -->
					
							<br>
							<hr>
							<br>
					
							<!--radio buttons-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Radio buttons</h3>
								</div>
								<div class="panel-body">
									<div class="pad-ver">
										<v-radiogrop
										name="name10"
										:options="[
					                    {value:'option1',style : 'form-icon form-no-label btn btn-primary',checked:true},
					                    {value:'option2',style : 'form-icon form-no-label btn btn-primary'},
					                    {value:'option3',style : 'form-icon form-no-label btn btn-primary'},
					                    {value:'option4',style : 'form-icon form-no-label btn btn-primary disabled'}
					                    ]">
										</v-radiogrop>
										<!--Radio buttons without label-->
										<!--===================================================-->
										<!-- <label class="form-radio form-icon form-no-label btn btn-primary active"><input type="radio" name="btn-ex-label" checked></label>
										<label class="form-radio form-icon form-no-label btn btn-primary"><input type="radio" name="btn-ex-label"></label>
										<label class="form-radio form-icon form-no-label btn btn-primary"><input type="radio" name="btn-ex-label"></label>
										<label class="form-radio form-icon form-no-label btn btn-primary disabled"><input type="radio" name="btn-ex-label" disabled></label> -->
										<!--===================================================-->
					
									</div>
									<div class="pad-ver">
										<v-radiogrop
										name="name10"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-success',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-success'},
					                    {value:'option3',display:'选项三',style : 'form-icon btn btn-success'},
					                    {value:'option4',display:'选项四',style : 'form-icon btn btn-success disabled'}
					                    ]">
										</v-radiogrop>
										<!--Radio buttons with label-->
										<!--===================================================-->
										<!-- <label class="form-radio form-icon btn btn-success active"><input type="radio" name="btn-w-label" checked> Option 1</label>
										<label class="form-radio form-icon btn btn-success"><input type="radio" name="btn-w-label"> Option 2</label>
										<label class="form-radio form-icon btn btn-success"><input type="radio" name="btn-w-label"> Option 3</label>
										<label class="form-radio form-icon btn btn-success disabled"><input type="radio" name="btn-w-label" disabled> Disabled</label> -->
										<!--===================================================-->
					
									</div>
									<div class="pad-ver">
										<v-radiogrop
										name="name10"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-info btn-labeled',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-info btn-labeled'},
					                    {value:'option3',display:'选项三',style : 'form-icon btn btn-info btn-labeled'},
					                    {value:'option4',display:'选项四',style : 'form-icon btn btn-info btn-labeled disabled'}
					                    ]">
										</v-radiogrop>
										<!--Radio buttons with label-->
										<!--===================================================-->
										<!-- <label class="form-radio form-icon btn btn-info btn-labeled active"><input type="radio" name="btn-ex-label-2" checked> Option 1</label>
										<label class="form-radio form-icon btn btn-info btn-labeled"><input type="radio" name="btn-ex-label-2"> Option 2</label>
										<label class="form-radio form-icon btn btn-info btn-labeled"><input type="radio" name="btn-ex-label-2"> Option 3</label>
										<label class="form-radio form-icon btn btn-info btn-labeled disabled"><input type="radio" name="btn-ex-label-2" disabled> Disabled</label> -->
										<!--===================================================-->
					
									</div>
								</div>
							</div>
					
							<!--Radio buttons group-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Group</h3>
								</div>
								<div class="panel-body">
									<v-radiogrop
										type="btn-group"
										name="name10"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-labeled btn-purple',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-labeled btn-purple'},
					                    {value:'option3',display:'选项三',style : 'form-icon btn btn-labeled btn-purple'}
					                    ]">
										</v-radiogrop>
									<!-- <div class="btn-group">
										<label class="form-radio form-icon btn btn-labeled btn-purple active"><input type="radio" name="btn-gr-label" checked> Option 1</label>
										<label class="form-radio form-icon btn btn-labeled btn-purple"><input type="radio" name="btn-gr-label"> Option 2</label>
										<label class="form-radio form-icon btn btn-labeled btn-purple"><input type="radio" name="btn-gr-label"> Option 3</label>
									</div> -->
								</div>
							</div>
						</div>
						<!--===================================================-->
						<!-- End Radio buttons -->
					
					</div>
					<br>
					<hr>
					<br>
					<div class="row">
						<div class="col-lg-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Colored</h3>
								</div>
								<div class="panel-body">
					
									<!--COLORED CHECKBOXES-->
									<!--===================================================-->
									<div class="pad-ver">
										<v-checkboxgrop 
										:model="[]"
										name="name11" 
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-normal form-primary',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-normal form-info',checked:true},
					                    {value:'option3',display:'选项三',style : 'form-normal form-success',checked:true},
					                    {value:'option4',display:'选项四',style : 'form-normal form-purple',checked:true}
					                    ]">
										</v-checkboxgrop>
										<!--Default checkboxes-->
										<!--===================================================-->
										<!-- <label class="form-checkbox form-normal form-primary active"><input type="checkbox" checked> Option 1</label>
										<label class="form-checkbox form-normal form-info active"><input type="checkbox" checked> Option 2</label>
										<label class="form-checkbox form-normal form-success active"><input type="checkbox" checked> Option 3</label>
										<label class="form-checkbox form-normal form-purple active"><input type="checkbox" checked> Option 4</label> -->
										<!--===================================================-->
					
									</div>
									<hr>
									<div class="pad-ver">
										<v-checkboxgrop 
										:model="[]"
										name="name12" 
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon form-primary',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon form-info',checked:true},
					                    {value:'option3',display:'选项三',style : 'form-icon form-success',checked:true},
					                    {value:'option4',display:'选项四',style : 'form-icon form-purple',checked:true}
					                    ]">
										<!-- With Font Awesome icon -->
										<!--===================================================-->
										<!-- <label class="form-checkbox form-icon form-primary active"><input type="checkbox" checked> Option 1</label>
										<label class="form-checkbox form-icon form-success"><input type="checkbox" checked> Option 2</label>
										<label class="form-checkbox form-icon form-danger active"><input type="checkbox" checked> Option 3</label>
										<label class="form-checkbox form-icon form-purple"><input type="checkbox" checked> Option 4</label> -->
										<!--===================================================-->
					
									</div>
									<hr>
									<div class="pad-ver">
										<v-checkboxgrop
										type="btn-group"
										:model="[]" 
										name="name13" 
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-primary',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-info',checked:true},
					                    {value:'option3',display:'选项三',style : 'form-icon btn btn-success',checked:true},
					                    {value:'option4',display:'选项四',style : 'form-icon btn btn-purple',checked:true}
					                    ]">
										<!-- CHECKBOX BUTTONS -->
										<!--===================================================-->
										<!-- <label class="form-checkbox form-icon btn btn-primary active"><input type="checkbox" checked> Option 1</label>
										<label class="form-checkbox form-icon btn btn-info active"><input type="checkbox" checked> Option 2</label>
										<label class="form-checkbox form-icon btn btn-pink active"><input type="checkbox" checked> Option 3</label>
										<label class="form-checkbox form-icon btn btn-dark active"><input type="checkbox" checked> Option 4</label> -->
										<!--===================================================-->
					
									</div>
									<!--===================================================-->
									<!--END COLORED CHECKBOXES -->
					
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Colored</h3>
								</div>
								<div class="panel-body">
					
									<!--COLORED RADIO BUTTONS-->
									<!--===================================================-->
									<div class="pad-ver">
										<v-radiogrop
										type="btn-group"
										name="name10"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-normal form-primary',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-normal form-info'},
					                    {value:'option3',display:'选项三',style : 'form-normal form-success'},
					                    {value:'option4',display:'选项四',style : 'form-normal form-mint'}
					                    ]">
										</v-radiogrop>
										<!-- Default radio buttons -->
										<!--===================================================-->
										<!-- <label class="form-radio form-normal form-primary active"><input type="radio" name="cl-rd" checked> Option 1</label>
										<label class="form-radio form-normal form-info"><input type="radio" name="cl-rd"> Option 2</label>
										<label class="form-radio form-normal form-success"><input type="radio" name="cl-rd"> Option 3</label>
										<label class="form-radio form-normal form-mint"><input type="radio" name="cl-rd"> Option 4</label> -->
										<!--===================================================-->
					
									</div>
									<hr>
									<div class="pad-ver">
										<v-radiogrop
										type="btn-group"
										name="name10"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon form-warning',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-radio form-icon form-danger'},
					                    {value:'option3',display:'选项三',style : 'form-icon form-pink'},
					                    {value:'option4',display:'选项四',style : 'form-icon form-purple'}
					                    ]">
										</v-radiogrop>
										<!--Radio buttons using the Font Awesome's icon -->
										<!--===================================================-->
										<!-- <label class="form-radio form-icon form-warning active"><input type="radio" name="cl-ico" checked> Option 1</label>
										<label class="form-radio form-icon form-danger"><input type="radio" name="cl-ico"> Option 2</label>
										<label class="form-radio form-icon form-pink active"><input type="radio" name="cl-ico"> Option 3</label>
										<label class="form-radio form-icon form-purple"><input type="radio" name="cl-ico"> Option 4</label> -->
										<!--===================================================-->
					
									</div>
									<hr>
									<div class="pad-ver">
										<v-radiogrop
										type="btn-group"
										name="name10"
										:options="[
					                    {value:'option1',display:'选项一',style : 'form-icon btn btn-primary',checked:true},
					                    {value:'option2',display:'选项二',style : 'form-icon btn btn-info'},
					                    {value:'option3',display:'选项三',style : 'form-icon btn btn-danger success'},
					                    {value:'option4',display:'选项四',style : 'form-icon btn btn-mint'}
					                    ]">
										</v-radiogrop>
										<!--Radio buttons-->
										<!--===================================================-->
										<!-- <label class="form-radio form-icon btn btn-primary"><input type="radio" name="cl-btn" checked> Option 1</label>
										<label class="form-radio form-icon btn btn-info"><input type="radio" name="cl-btn"> Option 2</label>
										<label class="form-radio form-icon btn btn-danger success active"><input type="radio" name="cl-btn"> Option 3</label>
										<label class="form-radio form-icon btn btn-mint"><input type="radio" name="cl-btn"> Option 4</label> -->
										<!--===================================================-->
					
									</div>
					
									<!--===================================================-->
									<!--END COLORED RADIO BUTTONS-->
								</div>
							</div>
						</div>
					</div>
					
					
					
				</div>
				<!--===================================================-->
				<!--End page content-->