				<!--Page content-->
				<!--===================================================-->
				<div id="page-content">
					
								<!-- COMPOSE EMAIL -->
								<!--===================================================-->
								<div class="panel panel-default panel-left">
									<div class="panel-body">
					
										<!--Cc & bcc toggle buttons-->
										<div class="text-right">
											<div class="btn-group">
												<button id="demo-toggle-cc" data-toggle="button" type="button" class="btn btn-sm btn-default btn-active-info">Cc</button>
												<button id="demo-toggle-bcc" data-toggle="button" type="button" class="btn btn-sm btn-default btn-active-info">Bcc</button>
											</div>
										</div>
										<hr class="hr-sm">
					
										<!--Input form-->
										<form role="form" class="form-horizontal">
											<div class="form-group">
												<label class="col-lg-1 control-label text-left" for="inputEmail">To</label>
												<div class="col-lg-11">
													<input type="email" id="inputEmail" class="form-control">
												</div>
											</div>
											<div id="demo-cc-input" class="hide form-group">
												<label class="col-lg-1 control-label text-left" for="inputCc">Cc</label>
												<div class="col-lg-11">
													<input type="text" id="inputCc" class="form-control">
												</div>
											</div>
											<div id="demo-bcc-input" class="hide form-group">
												<label class="col-lg-1 control-label text-left" for="inputBcc">Bcc</label>
												<div class="col-lg-11">
													<input type="text" id="inputBcc" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-1 control-label text-left" for="inputSubject">Subject</label>
												<div class="col-lg-11">
													<input type="text" id="inputSubject" class="form-control">
												</div>
											</div>
										</form>
										<hr class="hr-sm">
					
					
										<!--Attact file button-->
										<div class="media">
											<div class="media-left">
												<span class="btn btn-default btn-file">
													Attachment <input type="file">
												</span>
											</div>
											<div id="demo-attach-file" class="media-body"></div>
										</div>
					
										<hr class="hr-sm">
					
										<!--Wysiwyg editor : Summernote placeholder-->
										<div id="demo-mail-compose"></div>
					
										<div class="pad-ver">
					
											<!--Send button-->
											<button id="mail-send-btn" type="button" class="btn btn-success btn-labeled">
												<span class="btn-label"><i class="fa fa-paper-plane"></i></span> Send Mail
											</button>
					
											<!--Save draft button-->
											<button id="mail-save-btn" type="button" class="btn btn-primary btn-labeled">
												<span class="btn-label"><i class="fa fa-paper-plane"></i></span> Save Draft
											</button>
					
											<!--Discard button-->
											<button id="mail-discard-btn" type="button" class="btn btn-warning btn-labeled">
												<span class="btn-label"><i class="fa fa-paper-plane"></i></span> Discard
											</button>
										</div>
									</div>
								</div>
								<!--===================================================-->
								<!-- END COMPOSE EMAIL -->
					
					
				</div>
				<!--===================================================-->
				<!--End page content-->