				<!--Page content-->
				<!--===================================================-->
				<div id="page-content">
					
					<!-- MAIL INBOX -->
					<!--===================================================-->
					<div class="panel panel-default panel-left">
						<div id="demo-email-list" class="panel-body">
							<div class="row">
								<div class="col-sm-7">
					
									<!-- Mail toolbar -->
									<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
					
									<!--Split button dropdowns-->
									<div class="btn-group">
										<div id="demo-checked-all-mail" class="btn btn-default">
											<label class="form-checkbox form-normal">
												<input class="form-input" type="checkbox" name="mail-list">
											</label>
										</div>
										<button data-toggle="dropdown" class="btn btn-default dropdown-toggle dropdown-toggle-icon"><i class="dropdown-caret fa fa-caret-down"></i></button>
										<ul class="dropdown-menu">
											<li><a href="javascript:void(0)" id="demo-select-all-list">All</a></li>
											<li><a href="javascript:void(0)" id="demo-select-none-list">None</a></li>
											<li><a href="javascript:void(0)" id="demo-select-toggle-list">Toggle</a></li>
											<li class="divider"></li>
											<li><a href="javascript:void(0)" id="demo-select-read-list">Read</a></li>
											<li><a href="javascript:void(0)" id="demo-select-unread-list">Unread</a></li>
											<li><a href="javascript:void(0)" id="demo-select-starred-list">Starred</a></li>
										</ul>
									</div>
					
									<!--Refresh button-->
									<button id="demo-mail-ref-btn" data-toggle="panel-overlay" data-target="#demo-email-list" class="btn btn-default" type="button">
										<i class="fa fa-refresh"></i>
									</button>
					
									<!--Dropdown button (More Action)-->
									<div class="btn-group">
										<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
											More <i class="dropdown-caret fa fa-caret-down"></i>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">Mark as read</a></li>
											<li><a href="#">Mark as unread</a></li>
											<li class="divider"></li>
											<li><a href="#">Star</a></li>
											<li><a href="#">Clear Star</a></li>
										</ul>
									</div>
								</div>
								<hr class="hr-sm visible-xs">
								<div class="col-sm-5 clearfix">
									<div class="pull-right">
					
										<!--Pager buttons-->
										<span class="text-muted">
											<strong>1-50</strong>
											of
											<strong>160</strong>
										</span>
										<div class="btn-group btn-group">
											<button class="btn btn-default" type="button">
												<span class="fa fa-chevron-left"></span>
											</button>
											<button class="btn btn-default" type="button">
												<span class="fa fa-chevron-right"></span>
											</button>
										</div>
									</div>
								</div>
							</div>
							<hr class="hr-sm">
					
							<!--Mail list group-->
							<ul id="demo-mail-list" class="mail-list">
					
								<!--Mail list item-->
								<li class="mail-list-unread mail-attach">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Michael Robert</a></div>
									<div class="mail-time">05:55 PM</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject">
										<a href="mailbox-message.html" tppabs="mailbox-message.html">This is an example if there is a really really long text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </a>
									</div>
								</li>
					
								<!--Mail list item-->
								<li class="mail-starred">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Shopping Mall</a></div>
									<div class="mail-time">10:45 AM</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject">
										<a href="mailbox-message.html" tppabs="mailbox-message.html">Tracking Your Order - Shoes Store Online</a>
									</div>
								</li>
					
								<!--Mail list item-->
								<li class="mail-list-unread mail-starred mail-attach">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Dropbox</a></div>
									<div class="mail-time">07:18 AM</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject">
										<a href="mailbox-message.html" tppabs="mailbox-message.html">Reset your account password</a>
									</div>
								</li>
					
								<!--Mail list item-->
								<li class="mail-list-unread">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Server Host</a></div>
									<div class="mail-time">01:51 PM</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject">
										<a href="mailbox-message.html" tppabs="mailbox-message.html">
											<span class="label label-danger">
											Bussines
											</span>
											Regarding to your website issues.
										</a>
									</div>
								</li>
					
								<!--Mail list item-->
								<li>
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Lisa D. Smith</a></div>
									<div class="mail-time">Yesterday</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject">
										<a href="mailbox-message.html" tppabs="mailbox-message.html">Hi John! How are you?</a>
									</div>
								</li>
					
								<!--Mail list item-->
								<li class="mail-starred">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Johny Juan</a></div>
									<div class="mail-time">Yesterday</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject">
										<a href="mailbox-message.html" tppabs="mailbox-message.html">
											<span class="label label-info">
											Partner
											</span>
											Repair Status Unregistered User
										</a>
									</div>
								</li>
					
								<!--Mail list item-->
								<li class="mail-attach">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Bobby Marz</a></div>
									<div class="mail-time">Oct 10</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject"><a href="mailbox-message.html" tppabs="mailbox-message.html">Bugs in your system.</a></div>
								</li>
					
								<!--Mail list item-->
								<li class="mail-list-unread mail-starred">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Lucy Moon</a></div>
									<div class="mail-time">Oct 10</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject"><a href="mailbox-message.html" tppabs="mailbox-message.html">We need to meet up soon</a></div>
								</li>
					
								<!--Mail list item-->
								<li class="mail-list-unread">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Michael Robert</a></div>
									<div class="mail-time">Oct 10</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject"><a href="mailbox-message.html" tppabs="mailbox-message.html">This is an example if there is a really really long text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </a></div>
								</li>
					
								<!--Mail list item-->
								<li class="mail-starred mail-attach">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Shopping Mall</a></div>
									<div class="mail-time">Oct 9</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject"><a href="mailbox-message.html" tppabs="mailbox-message.html">Tracking Your Order - Shoes Store Online</a></div>
								</li>
					
								<!--Mail list item-->
								<li class="mail-list-unread mail-starred">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Dropbox</a></div>
									<div class="mail-time">Oct 8</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject"><a href="mailbox-message.html" tppabs="mailbox-message.html">Reset your account password</a></div>
								</li>
					
								<!--Mail list item-->
								<li class="mail-list-unread">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Server Host</a></div>
									<div class="mail-time">Oct 7</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject">
										<a href="mailbox-message.html" tppabs="mailbox-message.html">
											<span class="label label-danger">
												Bussines
											</span>
											Regarding to your website issues.
										</a>
									</div>
								</li>
					
								<!--Mail list item-->
								<li class="mail-starred">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Lisa D. Smith</a></div>
									<div class="mail-time">Oct 5</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject"><a href="mailbox-message.html" tppabs="mailbox-message.html">Hi John! How are you?</a></div>
								</li>
					
					
								<!--Mail list item-->
								<li class="mail-starred">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Johny Juan</a></div>
									<div class="mail-time">Oct 5</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject">
										<a href="mailbox-message.html" tppabs="mailbox-message.html">
											<span class="label label-info">
												Partner
											</span>
											Repair Status Unregistered User
										</a>
									</div>
								</li>
					
					
								<!--Mail list item-->
								<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
								<li class="mail-attach">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Bobby Marz</a></div>
									<div class="mail-time">Oct 3</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject"><a href="mailbox-message.html" tppabs="mailbox-message.html">Bugs in your system.</a></div>
								</li>
					
					
								<!--Mail list item-->
								<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
								<li class="mail-list-unread mail-starred">
									<div class="mail-control">
										<label class="demo-cb-mail form-checkbox form-normal form-primary">
											<input type="checkbox">
										</label>
									</div>
									<div class="mail-star"><a href="#"></a></div>
									<div class="mail-from"><a href="#">Lucy Moon</a></div>
									<div class="mail-time">Oct 1</div>
									<div class="mail-attach-icon"></div>
									<div class="mail-subject"><a href="mailbox-message.html" tppabs="mailbox-message.html">We need to meet up soon</a></div>
								</li>
							</ul>
						</div>
					
					
						<!--Mail footer-->
						<div class="panel-footer clearfix">
							<div class="pull-right">
								<span class="text-muted"><strong>1-50</strong> of <strong>160</strong></span>
								<div class="btn-group btn-group">
									<button type="button" class="btn btn-dark">
										<span class="fa fa-chevron-left"></span>
									</button>
									<button type="button" class="btn btn-dark">
										<span class="fa fa-chevron-right"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<!--===================================================-->
					<!-- END OF MAIL INBOX -->
					
					
				</div>
				<!--===================================================-->
				<!--End page content-->
