				<!--===================================================-->
				<div id="page-content">
					
					
					<!--STATIC EXAMPLE-->
					<!--===================================================-->
					
					<div class="panel panel-dark panel-colorful">
						<div class="panel-heading">
							<h3 class="panel-title">Static Example</h3>
						</div>
						<div class="panel-body demo-nifty-modal">
					
							<!--Static Examplel-->
							<div class="modal">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button class="close" data-dismiss="modal" type="button"><span>&times;</span><span class="sr-only">Close</span></button>
											<h4 class="modal-title">Modal title</h4>
										</div>
					
										<div class="modal-body">
											<p>One fine body ...........</p>
										</div>
					
										<div class="modal-footer">
											<button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
											<button class="btn btn-primary" type="button">Save changes</button>
										</div>
									</div>
								</div>
							</div>
					
						</div>
					</div>
					
					<!--===================================================-->
					<!--END OF STATIC EXAMPLE-->
					
					<div class="row">
						<div class="col-md-6">
							<div id="demo-panel-ref" class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Default modal</h3>
								</div>
								<div class="panel-body">
					
									<!--Launch demo default modal-->
									<p>Toggle a modal via JavaScript by clicking the button below. It will slide down and fade in from the top of the page.</p><br>
									<button data-target="#demo-default-modal" data-toggle="modal" class="btn btn-primary btn-lg">Launch demo modal</button>
					
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Remove animation</h3>
								</div>
								<div class="panel-body">
					
									<!--Launch demo modal wihtout animation-->
									<p>For modals that simply appear rather than fade in to view, remove the <code>.fade</code> class from your modal markup.</p><br>
									<button data-target="#demo-modal-wo-anim" data-toggle="modal" class="btn btn-primary btn-lg">Launch demo modal</button>
					
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Optional sizes</h3>
								</div>
								<div class="panel-body">
					
									<!--Large modal button-->
									<p>Modals have two optional sizes, available via modifier classes to be placed on a <code>.modal-dialog</code></p><br>
									<button data-target="#demo-lg-modal" data-toggle="modal" class="btn btn-warning">Large modal</button>
					
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Optional sizes</h3>
								</div>
								<div class="panel-body">
					
									<!--Small modal button-->
									<p>Modals have two optional sizes, available via modifier classes to be placed on a <code>.modal-dialog</code></p><br>
									<button data-target="#demo-sm-modal" data-toggle="modal" class="btn btn-success">Small modal</button>
					
								</div>
							</div>
						</div>
					</div>
					<br>
					<hr>
					<br>
					<div class="row">
						<div class="eq-height">
						<div class="col-lg-4 eq-box-lg">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Bootbox Modals</h3>
								</div>
								<div class="panel-body demo-nifty-btn">
					
									<!--Bootbox Modals-->
									<button id="demo-bootbox-alert" class="btn btn-danger">Alert</button>
									<button id="demo-bootbox-confirm" class="btn btn-info">Confirm</button>
									<button id="demo-bootbox-prompt" class="btn btn-warning">Prompt</button>
					
								</div>
							</div>
						</div>
						<div class="col-lg-4 eq-box-lg">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Bootbox Custom Modals</h3>
								</div>
								<div class="panel-body demo-nifty-btn">
					
									<!--Bootbox Custom Modals-->
									<button id="demo-bootbox-custom" class="btn btn-purple">Custom Dialog</button>
									<button id="demo-bootbox-custom-h-content" class="btn btn-pink">HTML Content</button>
									<button id="demo-bootbox-custom-h-form" class="btn btn-success">HTML Form</button>
					
								</div>
							</div>
						</div>
						<div class="col-lg-4 eq-box-lg">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Bootbox with animate.css</h3>
								</div>
								<div class="panel-body demo-nifty-btn">
					
									<!--Bootbox with Animate.css-->
									<button id="demo-bootbox-zoom" class="btn btn-info">Zoom in/out</button>
									<button id="demo-bootbox-bounce" class="btn btn-warning">Bounce</button>
									<button id="demo-bootbox-ruberwobble" class="btn btn-dark">RubberBand and wobble</button>
									<button id="demo-bootbox-flip" class="btn btn-purple">Flip</button>
									<button id="demo-bootbox-lightspeed" class="btn btn-success">Light Speed</button>
									<button id="demo-bootbox-swing" class="btn btn-primary">Swing and Hinge</button>
					
								</div>
							</div>
						</div>
						</div>
					</div>
					
					
				</div>
				<!--===================================================-->


	<!--弹出窗口❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏❏-->
	<!--Default Bootstrap Modal-->
	<!--===================================================-->
	<div class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<!--Modal header-->
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">
					<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Modal Heading</h4>
				</div>

				<!--Modal body-->
				<div class="modal-body">
					<form class="form-horizontal">
					  <div class="panel-body">
					    <div class="form-group">
					      <label class="col-sm-3 control-label" for="demo-is-inputsmall">Small Input</label>
					      <div class="col-sm-6">
					        <input type="text" placeholder=".input-sm" class="form-control input-sm" id="demo-is-inputsmall">
					      </div>
					    </div>
					    <div class="form-group">
					      <label for="demo-is-inputnormal" class="col-sm-3 control-label">Normal Input</label>
					      <div class="col-sm-6">
					        <input type="text" placeholder="Normal" class="form-control" id="demo-is-inputnormal">
					      </div>
					    </div>
					    <div class="form-group">
					      <label for="demo-is-inputlarge" class="col-sm-3 control-label">Large Input</label>
					      <div class="col-sm-6">
					        <input type="text" placeholder=".input-lg" class="form-control input-lg" id="demo-is-inputlarge">
					      </div>
					    </div>
					    <div class="form-group">
					      <label class="col-sm-3 control-label">Grid Inputs</label>
					      <div class="col-sm-3">
					        <input type="text" placeholder=".col-sm-3" class="form-control">
					      </div>
					    </div>
					    <div class="form-group">
					      <div class="col-sm-5 col-sm-offset-3">
					        <input type="text" placeholder=".col-sm-5" class="form-control">
					      </div>
					    </div>
					    <div class="form-group">
					      <div class="col-sm-7 col-sm-offset-3">
					        <input type="text" placeholder=".col-sm-7" class="form-control">
					      </div>
					    </div>
					    <div class="form-group">
					      <div class="col-sm-9 col-sm-offset-3">
					        <input type="text" placeholder=".col-sm-9" class="form-control">
					      </div>
					    </div>
					  </div>
					  <div class="panel-footer">
					    <div class="row">
					      <div class="col-sm-9 col-sm-offset-3">
					        <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Login</button>
					        <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset">Reset</button>
					      </div>
					    </div>
					  </div>
					</form>
				</div>

				<!--Modal footer-->
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
					<button class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!--===================================================-->
	<!--End Default Bootstrap Modal-->


	<!--Bootstrap Modal without Animation-->
	<!--===================================================-->
	<div class="modal" id="demo-modal-wo-anim" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<!--Modal header-->
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">
					<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Modal Heading</h4>
				</div>


				<!--Modal body-->
				<div class="modal-body">
					<h4 class="text-thin">Bootstrap Modal Vertical Alignment Center</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

					<hr>
					<h4 class="text-thin">Popover in a modal</h4>
					<p>This
					<button class="btn btn-sm btn-warning demo-modal-popover add-popover" data-toggle="popover" data-trigger="focus" data-content="And here\'s some amazing content. It\'s very engaging. right?" data-original-title="Popover Title">button</button> should trigger a popover on click.</p>

					<hr>

					<h4 class="text-thin">Tooltips in a modal</h4>
					<p><a class="btn-link add-tooltip" href="#" data-original-title="Tooltip">This link</a> and <a class="btn-link add-tooltip" data-toggle="tooltip" href="#" data-original-title="Tooltip" title="">that link</a> should have tooltips on hover.</p>
				</div>


				<!--Modal footer-->
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
					<button class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!--===================================================-->
	<!--End Bootstrap Modal without Animation-->


	<!--Large Bootstrap Modal-->
	<!--===================================================-->
	<div id="demo-lg-modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
	</div>
	<!--===================================================-->
	<!--End Large Bootstrap Modal-->


	<!--Small Bootstrap Modal-->
	<!--===================================================-->
	<div id="demo-sm-modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title" id="mySmallModalLabel">Small modal</h4>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				</div>
			</div>
		</div>
	</div>
