				<!--Page content-->
				<!--===================================================-->
				<div id="page-content">
					
					<div class="row">
						<div class="eq-height">
							<div class="col-sm-4 eq-box-sm">
					
								<!--Basic Panel-->
								<!--===================================================-->
								<div class="panel">
									<div class="panel-body">
										Basic panel example
									</div>
								</div>
								<!--===================================================-->
								<!--End Basic Panel-->
					
							</div>
							<div class="col-sm-4 eq-box-sm">
					
								<!--Panel with Header-->
								<!--===================================================-->
								<div class="panel">
									<div class="panel-heading">
										<h3 class="panel-title">Panel with header</h3>
									</div>
									<div class="panel-body">
										<p>Lorem ipsum dolor sit amet.</p>
									</div>
								</div>
								<!--===================================================-->
								<!--End Panel with Header-->
					
							</div>
							<div class="col-sm-4 eq-box-sm">
					
								<!--Panel with Footer-->
								<!--===================================================-->
								<div class="panel">
									<div class="panel-heading">
										<h3 class="panel-title">
											Panel with footer
										</h3>
									</div>
									<div class="panel-body">
										<p>Lorem ipsum dolor sit amet.</p>
									</div>
									<div class="panel-footer">Panel footer</div>
								</div>
								<!--===================================================-->
								<!--End Panel with Footer-->
					
							</div>
						</div>
					</div>
					<br>
					<hr>
					<br>
					<div class="row demo-nifty-panel">
						<div class="col-lg-6">
					
					
							<!--Panel with Tabs-->
							<!--===================================================-->
							<div class="panel panel-primary">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">
					
										<!--Nav tabs-->
										<ul class="nav nav-tabs">
											<li class="active"><a data-toggle="tab" href="#demo-tabs-box-1">First Tab</a>
											</li>
											<li><a data-toggle="tab" href="#demo-tabs-box-2">Second Tab</a>
											</li>
										</ul>
					
									</div>
									<h3 class="panel-title">With tabs</h3>
								</div>
					
								<!--Panel body-->
								<div class="panel-body">
					
									<!--Tabs content-->
									<div class="tab-content">
										<div id="demo-tabs-box-1" class="tab-pane fade in active">
											<h4 class="text-thin">First Tab Content</h4>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
										</div>
										<div id="demo-tabs-box-2" class="tab-pane fade">
											<h4 class="text-thin">Second Tab Content</h4>
											<p>Duis autem vel eum iriure dolor in hendrerit in vulputate.</p>
										</div>
									</div>
								</div>
							</div>
							<!--===================================================-->
							<!--End of panel with tabs-->
					
					
							<!--Panel with Buttons-->
							<!--===================================================-->
							<div id="demo-panel-ref" class="panel">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">
										<button class="demo-panel-ref-btn btn btn-default" data-target="#demo-panel-ref" data-toggle="panel-overlay">
											<i class="fa fa-rotate-right fa-fw"></i> Refresh
										</button>
										<div class="btn-group">
											<button data-toggle="dropdown" class="dropdown-toggle btn btn-info">
												<i class="fa fa-gear fa-lg"></i>
											</button>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#">Action</a></li>
												<li><a href="#">Another action</a></li>
												<li><a href="#">Something else here</a></li>
												<li class="divider"></li>
												<li><a href="#">Separated link</a></li>
											</ul>
										</div>
									</div>
									<h3 class="panel-title">With buttons</h3>
								</div>
					
								<!--Panel body-->
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End of Panel with Buttons-->
					
					
							<!--Panel with Progress bar-->
							<!--===================================================-->
							<div class="panel">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">
										<div class="progress progress-md">
											<div style="width: 70%" class="progress-bar progress-bar-primary progress-bar-striped active"></div>
										</div>
									</div>
									<h3 class="panel-title">With progress bar</h3>
								</div>
					
								<!--Panel body-->
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End panel with Progress bar-->
					
					
							<!--Panel with Text-->
							<!--===================================================-->
							<div class="panel">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">
										<em class="text-muted"><small>Last Update - Today 12:03AM</small></em>
									</div>
									<h3 class="panel-title">With text</h3>
								</div>
					
								<!--Panel body-->
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Panel with Text-->
					
					
							<!--Panel with Pager-->
							<!--===================================================-->
							<div class="panel">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">
										<ul class="pager pager-rounded">
											<li><a href="#">Previous</a></li>
											<li><a href="#">Next</a></li>
										</ul>
									</div>
									<h3 class="panel-title">With pager</h3>
								</div>
					
								<!--Panel body-->
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Panel with Pager-->
					
					
							<!--Panel with Table-->
							<!--===================================================-->
							<div class="panel">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<h3 class="panel-title">With table</h3>
								</div>
					
								<!--Default panel contents-->
								<div class="panel-body">
									<p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.</p>
								</div>
					
					
								<!--Table-->
								<table class="table">
									<thead>
										<tr>
											<th class="text-center">#</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Username</th>
										</tr>
									</thead>
					
									<tbody>
										<tr>
											<td class="text-center">1</td>
											<td>Mark</td>
											<td>Otto</td>
											<td>@mdo</td>
										</tr>
										<tr>
											<td class="text-center">2</td>
											<td>Jacob</td>
											<td>Thornton</td>
											<td>@fat</td>
										</tr>
										<tr>
											<td class="text-center">3</td>
											<td>Larry</td>
											<td>the Bird</td>
											<td>@twitter</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--===================================================-->
							<!--End Panel with Table-->
					
					
							<!--Expanded Panel by default-->
							<!--===================================================-->
							<div class="panel">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">
										<button class="demo-panel-ref-btn btn btn-default" data-toggle="panel-overlay" data-target="#demo-panel-collapse"><i class="fa fa-refresh"></i></button>
										<button class="btn btn-default" data-target="#demo-panel-collapse" data-toggle="collapse"><i class="fa fa-chevron-down"></i></button>
										<button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>
									</div>
									<h3 class="panel-title">Expanded by default</h3>
								</div>
					
								<!--Panel body-->
								<div id="demo-panel-collapse" class="collapse in">
									<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									</div>
								</div>
							</div>
							<!--===================================================-->
							<!--End Expanded Panel by default-->
					
					
					
						</div>
						<div class="col-lg-6">
					
							<!--Panel with Tabs (Icon)-->
							<!--===================================================-->
							<div class="panel panel-success">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">
										<ul class="nav nav-tabs">
											<li class="active">
												<a data-toggle="tab" href="#demo-tabs2-box-1">
													<i class="fa fa-magic fa-lg"></i>
												</a>
											</li>
											<li>
												<a data-toggle="tab" href="#demo-tabs2-box-2">
													<i class="fa fa-globe fa-lg"></i>
												</a>
											</li>
										</ul>
									</div>
									<h3 class="panel-title">With tabs</h3>
								</div>
					
								<!--Panel Body-->
								<div class="panel-body">
									<div class="tab-content">
										<div id="demo-tabs2-box-1" class="tab-pane fade in active">
											<h4 class="text-thin"><i class="fa fa-magic fa-fw"></i> Magic Icon</h4>
											<p>Nulla vel metus scelerisque ante sollicitudin commodo.</P>
										</div>
										<div id="demo-tabs2-box-2" class="tab-pane fade">
											<h4 class="text-thin"><i class="fa fa-globe fa-fw"></i> Globe Icon</h4>
											<p>Cras sit amet nibh libero, in gravida nulla.</P>
										</div>
									</div>
								</div>
							</div>
							<!--===================================================-->
							<!--End Panel with Tabs (Icon)-->
					
					
							<!--Panel with variety of components-->
							<!--===================================================-->
							<div id="demo-panel-w-alert" class="panel">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">
										<i class="fa fa-thumbs-o-up fa-lg fa-fw"></i>
										<span class="badge badge-pink">7</span>
										<span class="label label-purple">Label</span>
									</div>
									<h3 class="panel-title">With variety of components</h3>
								</div>
					
								<!--Panel body-->
								<div class="panel-body">
									<button id="demo-panel-alert" class="btn btn-lg btn-primary">Add alerts</button>
									<button id="demo-panel-alert2" class="btn btn-lg btn-warning">Add Sticky alerts</button>
								</div>
							</div>
							<!--===================================================-->
							<!--End panel with variety of components-->
					
					
							<!--Panel with Switcher-->
							<!--===================================================-->
							<div class="panel">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">
										<small class="text-muted">View All </small>
										<input id="demo-panel-w-switch" type="checkbox" checked />
									</div>
									<h3 class="panel-title">With switcher</h3>
								</div>
					
								<!--Panel body-->
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End of Panel with Switcher-->
					
					
							<!--Panel with Bubble Information-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-heading">
									<div class="panel-control">
										<a href="#fakelink" class="add-tooltip fa fa-question-circle fa-lg unselectable" data-html="true" data-title="<h4>Information</h4><p style='width:150px'>This is an information bubble to help the user.</p>"></a>
									</div>
									<h3 class="panel-title">With bubble informatiion</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Panel with Bubble Information-->
					
					
							<!--Panel with Pagination-->
							<!--===================================================-->
							<div class="panel">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">
										<ul class="pagination">
											<li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
											<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
										</ul>
									</div>
									<h3 class="panel-title">With pagination</h3>
								</div>
					
								<!--Panel body-->
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Panel with Pagination-->
					
					
							<!--Panel with List Group-->
							<!--===================================================-->
							<div class="panel">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<h3 class="panel-title">With list groups</h3>
								</div>
					
								<!--Default panel contents-->
								<div class="panel-body">
									<p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.</p>
								</div>
					
								<!--List group-->
								<ul class="list-group">
									<li class="list-group-item">Cras justo odio</li>
									<li class="list-group-item">Dapibus ac facilisis in</li>
									<li class="list-group-item">Morbi leo risus</li>
									<li class="list-group-item">Porta ac consectetur ac</li>
									<li class="list-group-item">Vestibulum at eros</li>
								</ul>
							</div>
							<!--===================================================-->
							<!--End Panel with List Group-->
					
					
							<!--Collapsed Panel by default-->
							<!--===================================================-->
							<div class="panel">
					
								<!--Panel heading-->
								<div class="panel-heading">
									<div class="panel-control">
										<button class="demo-panel-ref-btn btn btn-default" data-toggle="panel-overlay" data-target="#demo-panel-collapse-default"><i class="fa fa-refresh"></i></button>
										<button class="btn btn-default" data-target="#demo-panel-collapse-default" data-toggle="collapse"><i class="fa fa-chevron-down"></i></button>
										<button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>
									</div>
									<h3 class="panel-title">Collapsed by default</h3>
								</div>
					
								<!--Panel body-->
								<div id="demo-panel-collapse-default" class="collapse">
									<div class="panel-body">
										<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
											aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
											ex ea commodo consequat.
										</p>
									</div>
								</div>
							</div>
							<!--===================================================-->
							<!--End Collapsed Panel by default-->
					
						</div>
					</div>
					<br>
					<h3 class="text-thin">Colored</h3>
					<br>
					<div class="row demo-nifty-panel">
						<div class="col-sm-4">
					
							<!--Primary panel-->
							<!--===================================================-->
							<div class="panel panel-colorful panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Primary</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Primary Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Info Panel-->
							<!--===================================================-->
							<div class="panel panel-colorful panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Info</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Info Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Success Panel-->
							<!--===================================================-->
							<div class="panel panel-colorful panel-success">
								<div class="panel-heading">
									<h3 class="panel-title">Success</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Success Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Mint Panel-->
							<!--===================================================-->
							<div class="panel panel-colorful panel-mint">
								<div class="panel-heading">
									<h3 class="panel-title">Mint</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Mint Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Warning Panel-->
							<!--===================================================-->
							<div class="panel panel-colorful panel-warning">
								<div class="panel-heading">
									<h3 class="panel-title">Warning</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Primary Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Danger Panel-->
							<!--===================================================-->
							<div class="panel panel-colorful panel-danger">
								<div class="panel-heading">
									<h3 class="panel-title">Danger</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Danger Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Pink Panel-->
							<!--===================================================-->
							<div class="panel panel-colorful panel-pink">
								<div class="panel-heading">
									<h3 class="panel-title">Pink</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Pink Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Purple Panel-->
							<!--===================================================-->
							<div class="panel panel-colorful panel-purple">
								<div class="panel-heading">
									<h3 class="panel-title">Purple</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Purple Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Dark Panel-->
							<!--===================================================-->
							<div class="panel panel-colorful panel-dark">
								<div class="panel-heading">
									<h3 class="panel-title">Dark</h3>
								</div>
					
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Dark Panel-->
					
						</div>
					</div>
					<br>
					<hr>
					<br>
					<div class="row demo-nifty-panel">
						<div class="col-sm-4">
					
							<!--Primary Panel-->
							<!--===================================================-->
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Primary</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Primary Panel-->
					
					
						</div>
						<div class="col-sm-4">
					
							<!--Info Panel-->
							<!--===================================================-->
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Info</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Info Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Success Panel-->
							<!--===================================================-->
							<div class="panel panel-success">
								<div class="panel-heading">
									<h3 class="panel-title">Success</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Success Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Mint Panel-->
							<!--===================================================-->
							<div class="panel panel-mint">
								<div class="panel-heading">
									<h3 class="panel-title">Mint</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Mint Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Warning Panel-->
							<!--===================================================-->
							<div class="panel panel-warning">
								<div class="panel-heading">
									<h3 class="panel-title">Warning</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Warning Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Danger Panel-->
							<!--===================================================-->
							<div class="panel panel-danger">
								<div class="panel-heading">
									<h3 class="panel-title">Danger</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Danger Panel-->
					
					
						</div>
						<div class="col-sm-4">
					
							<!--Pink Panel-->
							<!--===================================================-->
					
							<div class="panel panel-pink">
								<div class="panel-heading">
									<h3 class="panel-title">Pink</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Pink Panel-->
					
					
						</div>
						<div class="col-sm-4">
					
							<!--Purple Panel-->
							<!--===================================================-->
					
							<div class="panel panel-purple">
								<div class="panel-heading">
									<h3 class="panel-title">Purple</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
					
							<!--===================================================-->
							<!--End Purple Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Dark Panel-->
							<!--===================================================-->
					
							<div class="panel panel-dark">
								<div class="panel-heading">
									<h3 class="panel-title">Dark</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
					
							<!--===================================================-->
							<!--End Dark Panel-->
					
						</div>
					</div>
					
					<br>
					<hr>
					<br>
					<div class="row demo-nifty-panel">
						<div class="col-sm-4">
					
							<!--Primary Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Primary</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Primary Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Info Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Info</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Info Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Success Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered panel-success">
								<div class="panel-heading">
									<h3 class="panel-title">Success</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Success Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Mint Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered panel-mint">
								<div class="panel-heading">
									<h3 class="panel-title">Mint</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Mint Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Warning Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered panel-warning">
								<div class="panel-heading">
									<h3 class="panel-title">Warning</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Primary Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Danger Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered panel-danger">
								<div class="panel-heading">
									<h3 class="panel-title">Danger</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Danger Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Pink Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered panel-pink">
								<div class="panel-heading">
									<h3 class="panel-title">Pink</h3>
								</div>
					
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Pink Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Purple Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered panel-purple">
								<div class="panel-heading">
									<h3 class="panel-title">Purple</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Purple Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Dark Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered panel-dark">
								<div class="panel-heading">
									<h3 class="panel-title">Dark</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Dark Panel-->
					
						</div>
					</div>
					
					
					<br>
					<hr>
					<br>
					<div class="row demo-nifty-panel">
						<div class="col-sm-4">
					
							<!--Primary Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Primary</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Primary Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Info Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered-info">
								<div class="panel-heading">
									<h3 class="panel-title">Info</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Info Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Success Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered-success">
								<div class="panel-heading">
									<h3 class="panel-title">Success</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Success Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Mint Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered-mint">
								<div class="panel-heading">
									<h3 class="panel-title">Mint</h3>
								</div>
					
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Mint Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Warning Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered-warning">
								<div class="panel-heading">
									<h3 class="panel-title">Warning</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Primary Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Danger Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered-danger">
								<div class="panel-heading">
									<h3 class="panel-title">Danger</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Danger Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Pink Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered-pink">
								<div class="panel-heading">
									<h3 class="panel-title">Pink</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Pink Panel-->
					
						</div>
						<div class="col-sm-4">
					
							<!--Purple Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered-purple">
								<div class="panel-heading">
									<h3 class="panel-title">Purple</h3>
								</div>
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Purple Panel-->
					
					
						</div>
						<div class="col-sm-4">
					
							<!--Dark Panel-->
							<!--===================================================-->
							<div class="panel panel-bordered-dark">
								<div class="panel-heading">
									<h3 class="panel-title">Dark</h3>
								</div>
					
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Dark Panel-->
					
						</div>
					</div>
					
					
					
				</div>
				<!--===================================================-->
				<!--End page content-->

