				<!--Page content-->
				<!--===================================================-->
				<div id="page-content">
					
					<div class="row">
						<div class="col-md-6 col-lg-4">
					
							<!--Profile Widget-->
							<!--===================================================-->
							<div class="panel widget">
								<div class="widget-header bg-primary"></div>
								<div class="widget-body text-center">
									<img alt="Profile Picture" class="widget-img img-circle img-border-light" src="/static/img/av2.png">
									<h4 class="text-thin">John Doe</h4>
									<p class="text-muted mar-btm">Administrator</p>
					
									<div class="pad-ver">
										<button class="btn btn-primary">Follow</button>
										<button class="btn btn-success">Message</button>
									</div>
								</div>
							</div>
							<!--===================================================-->
					
						</div>
						<div class="col-md-6 col-lg-4">
					
							<!--Profile Widget-->
							<!--===================================================-->
							<div class="panel widget">
								<div class="widget-header bg-success"></div>
								<div class="widget-body text-center">
									<img alt="Profile Picture" class="widget-img img-circle img-border" src="/static/img/av3.png">
									<h4 class="text-thin">Donald Brown</h4>
									<p class="text-muted mar-btm">Web and Graphic designer</p>
					
									<div class="pad-ver">
										<a class="btn btn-default btn-icon btn-hover-primary fa fa-facebook icon-lg add-tooltip" href="#" title="Facebook"></a>
										<a class="btn btn-default btn-icon btn-hover-info fa fa-twitter icon-lg add-tooltip" href="#" title="Twitter"></a>
										<a class="btn btn-default btn-icon btn-hover-danger fa fa-google-plus icon-lg add-tooltip" href="#" title="Google+"></a>
										<a class="btn btn-default btn-icon btn-hover-mint fa fa-envelope icon-lg add-tooltip" href="#" title="Email"></a>
									</div>
								</div>
							</div>
							<!--===================================================-->
					
						</div>
						<div class="col-md-12 col-lg-4">
					
							<!--Profile Widget-->
							<!--===================================================-->
							<div class="panel widget">
								<div class="widget-header bg-purple">
									<img class="widget-bg img-responsive" src="/static/img/thumbs/img3.jpg" alt="Image">
								</div>
								<div class="widget-body text-center">
									<img alt="Profile Picture" class="widget-img img-border-light" src="/static/img/av4.png" >
									<h4 class="text-thin">Lucy Moon</h4>
									<p class="text-muted mar-btm">Art Designer</p>
					
									<ul class="list-unstyled text-center pad-top mar-no clearfix">
										<li class="col-xs-4">
											<span class="text-lg">1,345</span>
											<p class="text-muted text-uppercase">
												<small>Following</small>
											</p>
										</li>
										<li class="col-xs-4">
											<span class="text-lg">23,456</span>
											<p class="text-muted text-uppercase">
												<small>Followers</small>
											</p>
										</li>
										<li class="col-xs-4">
											<span class="text-lg">52,678</span>
											<p class="text-muted text-uppercase">
												<small>Likes</small>
											</p>
										</li>
									</ul>
								</div>
							</div>
							<!--===================================================-->
					
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8">
					
							<!--Profile Heading-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-bg-cover">
									<img class="img-responsive" src="/static/img/thumbs/img1.jpg" alt="Image">
								</div>
								<div class="panel-media">
									<img src="/static/img/av1.png" class="panel-media-img img-circle img-border-light" alt="Profile Picture">
									<div class="row">
										<div class="col-lg-7">
											<h4 class="panel-media-heading">Stephen Tran</h4>
											<a href="#" class="btn-link">@stephen_doe</a>
											<p class="text-muted mar-btm">Web and Graphic designer</p>
										</div>
										<div class="col-lg-5 text-lg-right">
											<button class="btn btn-sm btn-primary">Add Friend</button>
											<button class="btn btn-sm btn-mint btn-icon fa fa-envelope icon-lg"></button>
										</div>
									</div>
								</div>
								<div class="panel-body">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
								</div>
							</div>
							<!--===================================================-->
					
						</div>
						<div class="col-lg-4">
					
							<!--Profile Widget-->
							<!--===================================================-->
							<div class="panel text-center">
								<div class="panel-body bg-purple">
									<img alt="Avatar" class="img-md img-circle img-border" src="/static/img/av5.png" >
					
									<h4 class="text-thin">Brenda Fuller</h4>
									<p>Project manager</p>
								</div>
					
								<div class="pad-all">
									<p class="text-muted">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut sed diam.
									</p>
					
									<a href="#" class="btn-link">http://www.themeon.net</a>
									<div class="pad-ver">
										<button class="btn btn-primary">Follow</button>
										<button class="btn btn-success">Message</button>
									</div>
								</div>
							</div>
							<!--===================================================-->
					
						</div>
					</div>
					<br>
					<hr>
					<br>
					<div class="row">
						<div class="col-md-6 col-lg-8">
					
							<!--Realtime flot chart-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-heading">
									<div class="panel-control">
										<span class="label label-success">Online</span>
									</div>
									<h3 class="panel-title">Server Load</h3>
								</div>
								<div class="panel-body">
									<ul class="list-inline mar-no">
										<li>
											<div class="pad-hor">
												<span class="h4 text-thin">40%</span>
												<p class="text-muted text-uppercase"><small>Avg. Server Load</small></p>
											</div>
										</li>
										<li>
											<div class="pad-hor">
												<span class="h4 text-thin">24 Days</span>
												<p class="text-muted text-uppercase"><small>Up Time</small></p>
											</div>
										</li>
										<li>
											<div class="pad-hor">
												<span class="h4 text-thin">00:05:23</span>
												<p class="text-muted text-uppercase"><small>Avg. Time on Site</small></p>
											</div>
										</li>
									</ul>
								</div>
								<div id="demo-realtime-chart" class="flot-full-content">
									<!--Flot chart placement-->
								</div>
							</div>
							<!--===================================================-->
							<!--End Realtime flot chart-->
					
						</div>
						<div class="col-md-6 col-lg-4">
					
							<!--Guege server load-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-body bg-success text-center">
					
									<!--Gauge placeholder-->
									<canvas id="demo-gauge" height="105" class="canvas-responsive"></canvas>
					
								</div>
								<div class="pad-all">
									<p class="text-muted">Lorem ipsum dolor sit amet, consectetuer <a href="#" class="add-tooltip text-semibold" data-title="45%">adipiscing elit</a>, sed diam nonummy nibh. Lorem ipsum dolor sit amet.</p>
									<small class="text-muted"><em>Last Update : Des 12, 2014</em></small>
									<hr>
									<ul class="list-unstyled row text-center">
					
										<!--Gauge info-->
										<li class="col-xs-6">
											<span id="demo-gauge-text" class="text-2x">
												1,788
											</span>
											<p class="text-uppercase">
												<small>% Server Load</small>
											</p>
										</li>
										<li class="col-xs-6">
											<span class="text-2x">48 Days</span>
											<p class="text-uppercase">
												<small>Up Time</small>
											</p>
										</li>
									</ul>
								</div>
							</div>
							<!--===================================================-->
							<!--End Guege server load-->
					
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
					
							<!--Weather widget-->
							<!--===================================================-->
							<div id="demo-weather-widget-md" class="panel panel-mint panel-colorful text-center">
								<div class="panel-body">
					
									<!--Weather widget body-->
									<div class="row pad-top">
										<div class="col-xs-6">
											<canvas id="demo-weather-md-icon-1" width="98" height="98"></canvas>
										</div>
										<div class="col-xs-6">
											<p class="text-4x">27&#176;</p>
											<p class="">Partly Cloudy Day</p>
										</div>
									</div>
									<h4 class="text-thin mar-no pad-top">San Jose, CA</h4>
									<p>Today</p>
									<hr>
					
					
									<!--Weather widget footer-->
									<ul class="list-unstyled text-center clearfix">
										<li class="col-xs-3">
											<canvas id="demo-weather-md-icon-2" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Saturday</p>
											<p>25 &#176;C</p>
										</li>
										<li class="col-xs-3">
											<canvas id="demo-weather-md-icon-3" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Sunday</p>
											<p>22 &#176;C</p>
										</li>
										<li class="col-xs-3">
											<canvas id="demo-weather-md-icon-4" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Monday</p>
											<p>20 &#176;C</p>
										</li>
										<li class="col-xs-3">
											<canvas id="demo-weather-md-icon-5" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Monday</p>
											<p>28 &#176;C</p>
										</li>
									</ul>
								</div>
							</div>
							<!--===================================================-->
							<!--End Weather widget-->
					
						</div>
						<div class="col-lg-8">
					
					
							<!--Large weather widget-->
							<!--===================================================-->
							<div id="demo-weather-widget-lg" class="panel panel-info panel-colorful text-center">
								<div class="panel-body">
					
									<!--Widget heading-->
									<div class="media">
										<div class="media-left">
											<i class="fa fa-map-marker fa-3x"></i>
										</div>
										<div class="media-body">
											<h4 class="text-thin mar-no text-left">San Jose, CA</h4>
											<p class="text-left">Today</p>
										</div>
									</div>
					
									<!--Widget body-->
									<div class="row pad-top">
										<div class="col-xs-6">
											<canvas id="demo-weather-lg-icon-1" width="98" height="98"></canvas>
										</div>
										<div class="col-xs-6">
											<p class="text-4x">27&#176;</p>
											<p>Partly Cloudy Day</p>
										</div>
									</div>
									<hr>
					
									<!--Widget footer-->
									<ul class="list-unstyled text-center clearfix">
										<li class="col-xs-2">
											<canvas id="demo-weather-lg-icon-2" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Saturday</p>
											<p>25 &#176;C</p>
										</li>
										<li class="col-xs-2">
											<canvas id="demo-weather-lg-icon-3" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Sunday</p>
											<p>22 &#176;C</p>
										</li>
										<li class="col-xs-2">
											<canvas id="demo-weather-lg-icon-4" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Monday</p>
											<p>20 &#176;C</p>
										</li>
										<li class="col-xs-2">
											<canvas id="demo-weather-lg-icon-5" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Tuesday</p>
											<p>28 &#176;C</p>
										</li>
										<li class="col-xs-2">
											<canvas id="demo-weather-lg-icon-6" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Wednesday</p>
											<p>22 &#176;C</p>
										</li>
										<li class="col-xs-2">
											<canvas id="demo-weather-lg-icon-7" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Thursday</p>
											<p>25 &#176;C</p>
										</li>
									</ul>
								</div>
							</div>
							<!--===================================================-->
							<!--End Large weather widget-->
					
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-3">
					
							<!--Small weather widget-->
							<!--===================================================-->
							<div class="panel text-center">
								<div class="panel-body bg-warning">
									<canvas id="demo-weather-sm-icon" width="128" height="128"></canvas>
									<h4 class="text-thin mar-no pad-top">San Jose, CA</h4>
									<p>Today</p>
								</div>
								<div class="pad-all">
									<p class="text-4x">20&#176;</p>
									<p class="">Rainy Day</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Small weather widget-->
					
					
							<!--Extra small weather widget-->
							<!--===================================================-->
					
							<div class="panel media middle">
								<div class="media-left bg-primary pad-all">
									<canvas id="demo-weather-xs-icon-1" width="48" height="48"></canvas>
								</div>
								<div class="media-body pad-lft">
									<p class="text-2x mar-no text-thin">32&#176;</p>
									<p class="text-muted mar-no">Sunny</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Extra small weather widget-->
					
						</div>
						<div class="col-md-6 col-lg-3">
					
							<!--Easy pie chart-->
							<!--===================================================-->
							<div class="panel">
								<div class="panel-body bg-purple text-center">
					
									<!--Placeholder-->
									<div id="demo-pie-1" data-percent="35" class="pie-title-center">
										<span class="pie-value"></span>
									</div>
					
								</div>
								<div class="pad-all text-center">
									<p class="text-muted">Lorem ipsum dolor sit amet, consectetuer <a href="#" class="add-tooltip text-semibold" data-title="45%">adipiscing elit</a>, sed diam nonummy nibh. Lorem ipsum dolor sit amet.</p>
									<small class="text-muted"><em>Last Update : Des 12, 2014</em></small>
									<hr>
									<p class="text-3x text-primary">5,327</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Easy pie chart-->
					
					
							<!--Extra small weather widget-->
							<!--===================================================-->
							<div class="panel media middle">
								<div class="media-left pad-all">
									<canvas id="demo-weather-xs-icon-2" width="48" height="48"></canvas>
								</div>
								<div class="media-body pad-lft">
									<p class="text-2x mar-no text-thin text-mint">25&#176;</p>
									<p class="text-muted mar-no">Partly Cloudy Day</p>
								</div>
							</div>
							<!--===================================================-->
							<!--End Extra small weather widget-->
					
					
					
						</div>
						<div class="col-md-12 col-lg-6">
					
							<!--Chat widget-->
							<!--===================================================-->
							<div class="panel">
								<!--Heading-->
								<div class="panel-heading">
									<div class="panel-control">
										<div class="btn-group">
											<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#demo-chat-body"><i class="fa fa-chevron-down"></i></button>
											<button type="button" class="btn btn-default" data-toggle="dropdown"><i class="fa fa-gear"></i></button>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#">Available</a></li>
												<li><a href="#">Busy</a></li>
												<li><a href="#">Away</a></li>
												<li class="divider"></li>
												<li><a id="demo-connect-chat" href="#" class="disabled-link" data-target="#demo-chat-body">Connect</a></li>
												<li><a id="demo-disconnect-chat" href="#" data-target="#demo-chat-body" >Disconect</a></li>
											</ul>
										</div>
									</div>
									<h3 class="panel-title">Chat</h3>
								</div>
					
								<!--Widget body-->
								<div id="demo-chat-body" class="collapse in">
									<div class="nano" style="height:380px">
										<div class="nano-content pad-all">
											<ul class="list-unstyled media-block">
												<li class="mar-btm">
													<div class="media-left">
														<img src="/static/img/av1.png" class="img-circle img-sm" alt="Profile Picture">
													</div>
													<div class="media-body pad-hor">
														<div class="speech">
															<a href="#" class="media-heading">John Doe</a>
															<p>Hello Lucy, how can I help you today ?</p>
															<p class="speech-time">
															<i class="fa fa-clock-o fa-fw"></i>09:23AM
															</p>
														</div>
													</div>
												</li>
												<li class="mar-btm">
													<div class="media-right">
														<img src="/static/img/av4.png" class="img-circle img-sm" alt="Profile Picture">
													</div>
													<div class="media-body pad-hor speech-right">
														<div class="speech">
															<a href="#" class="media-heading">Lucy Doe</a>
															<p>Hi, I want to buy a new shoes.</p>
															<p class="speech-time">
																<i class="fa fa-clock-o fa-fw"></i> 09:23AM
															</p>
														</div>
													</div>
												</li>
												<li class="mar-btm">
													<div class="media-left">
														<img src="/static/img/av1.png" class="img-circle img-sm" alt="Profile Picture">
													</div>
													<div class="media-body pad-hor">
														<div class="speech">
															<a href="#" class="media-heading">John Doe</a>
															<p>Shipment is free. You\'ll get your shoes tomorrow!</p>
															<p class="speech-time">
																<i class="fa fa-clock-o fa-fw"></i> 09:25
															</p>
														</div>
													</div>
												</li>
												<li class="mar-btm">
													<div class="media-right">
														<img src="/static/img/av4.png" class="img-circle img-sm" alt="Profile Picture">
													</div>
													<div class="media-body pad-hor speech-right">
														<div class="speech">
															<a href="#" class="media-heading">Lucy Doe</a>
															<p>Wow, that\'s great!</p>
															<p class="speech-time">
																<i class="fa fa-clock-o fa-fw"></i> 09:27
															</p>
														</div>
													</div>
												</li>
												<li class="mar-btm">
													<div class="media-right">
														<img src="/static/img/av4.png" class="img-circle img-sm" alt="Profile Picture">
													</div>
													<div class="media-body pad-hor speech-right">
														<div class="speech">
															<a href="#" class="media-heading">Lucy Doe</a>
															<p>Ok. Thanks for the answer. Appreciated.</p>
															<p class="speech-time">
															<i class="fa fa-clock-o fa-fw"></i> 09:28
															</p>
														</div>
													</div>
												</li>
												<li class="mar-btm">
													<div class="media-left">
														<img src="/static/img/av1.png" class="img-circle img-sm" alt="Profile Picture">
													</div>
													<div class="media-body pad-hor">
														<div class="speech">
															<a href="#" class="media-heading">John Doe</a>
															<p>You are welcome! <br/> Is there anything else I can do for you today?</p>
															<p class="speech-time">
																<i class="fa fa-clock-o fa-fw"></i> 09:30
															</p>
														</div>
													</div>
												</li>
												<li class="mar-btm">
													<div class="media-right">
														<img src="/static/img/av4.png" class="img-circle img-sm" alt="Profile Picture">
													</div>
													<div class="media-body pad-hor speech-right">
														<div class="speech">
															<a href="#" class="media-heading">Lucy Doe</a>
															<p>Nope, That\'s it.</p>
															<p class="speech-time">
																<i class="fa fa-clock-o fa-fw"></i> 09:31
															</p>
														</div>
													</div>
												</li>
												<li class="mar-btm">
													<div class="media-left">
														<img src="/static/img/av1.png" class="img-circle img-sm" alt="Profile Picture">
													</div>
													<div class="media-body pad-hor">
														<div class="speech">
															<a href="#" class="media-heading">John Doe</a>
															<p>Thank you for contacting us today</p>
															<p class="speech-time">
																<i class="fa fa-clock-o fa-fw"></i> 09:32
															</p>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
					
									<!--Widget footer-->
									<div class="panel-footer">
										<div class="row">
											<div class="col-xs-9">
												<input type="text" placeholder="Enter your text" class="form-control chat-input">
											</div>
											<div class="col-xs-3">
												<button class="btn btn-primary btn-block" type="submit">Send</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--===================================================-->
							<!--Chat widget-->
						</div>
					</div>
					<br>
					<hr>
					<br>
					
					<!--Simple Tiles-->
					<!--===================================================-->
					<div class="row">
						<div class="col-sm-6 col-md-4 col-lg-2">
					
							<!--Sales-->
							<div class="panel panel-primary panel-colorful">
								<div class="pad-all text-center">
									<span class="text-5x text-thin">53</span>
									<p>Sales</p>
									<i class="fa fa-shopping-cart"></i>
								</div>
							</div>
					
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
					
							<!--Messages-->
							<div class="panel panel-warning panel-colorful">
								<div class="pad-all text-center">
									<span class="text-5x text-thin">68</span>
									<p>Messages</p>
									<i class="fa fa-envelope"></i>
								</div>
							</div>
					
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
					
							<!--Projects-->
							<div class="panel panel-purple panel-colorful">
								<div class="pad-all text-center">
									<span class="text-5x text-thin">32</span>
									<p>Projects</p>
									<i class="fa fa-code"></i>
								</div>
							</div>
					
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
					
							<!--Reports-->
							<div class="panel panel-dark panel-colorful">
								<div class="pad-all text-center">
									<span class="text-5x text-thin">12</span>
									<p>Reports</p>
									<i class="fa fa-file-text"></i>
								</div>
							</div>
					
						</div>
					
						<div class="col-sm-6 col-md-4 col-lg-2">
					
							<!--New Items-->
							<div class="panel panel-info panel-colorful">
								<div class="pad-all text-center">
									<span class="text-5x text-thin">254</span>
									<p>New Items</p>
									<i class="fa fa-plus-circle"></i>
								</div>
							</div>
					
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
					
							<!--Task-->
							<div class="panel panel-success panel-colorful">
								<div class="pad-all text-center">
									<span class="text-5x text-thin">52</span>
									<p>Task</p>
									<i class="fa fa-tasks"></i>
								</div>
							</div>
					
						</div>
					</div>
					<!--===================================================-->
					<!--End Simple Tiles-->
					
					<br>
					
					<!--Tiles - Bright version-->
					<!--===================================================-->
					<div class="row">
						<div class="col-md-6 col-lg-3">
					
							<!--Registered User-->
							<div class="panel media pad-all">
								<div class="media-left">
									<span class="icon-wrap icon-wrap-sm icon-circle bg-success">
									<i class="fa fa-user fa-2x"></i>
									</span>
								</div>
								<div class="media-body">
									<p class="text-2x mar-no text-thin">241</p>
									<p class="text-muted mar-no">Registered User</p>
								</div>
							</div>
					
						</div>
						<div class="col-md-6 col-lg-3">
					
							<!--New Order-->
							<div class="panel media pad-all">
								<div class="media-left">
									<span class="icon-wrap icon-wrap-sm icon-circle bg-info">
									<i class="fa fa-shopping-cart fa-2x"></i>
									</span>
								</div>
					
								<div class="media-body">
									<p class="text-2x mar-no text-thin">543</p>
									<p class="text-muted mar-no">New Order</p>
								</div>
							</div>
					
						</div>
						<div class="col-md-6 col-lg-3">
					
							<!--Comments-->
							<div class="panel media pad-all">
								<div class="media-left">
									<span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
									<i class="fa fa-comment fa-2x"></i>
									</span>
								</div>
					
								<div class="media-body">
									<p class="text-2x mar-no text-thin">34</p>
									<p class="text-muted mar-no">Comments</p>
								</div>
							</div>
					
						</div>
						<div class="col-md-6 col-lg-3">
					
							<!--Sales-->
							<div class="panel media pad-all">
								<div class="media-left">
									<span class="icon-wrap icon-wrap-sm icon-circle bg-danger">
									<i class="fa fa-dollar fa-2x"></i>
									</span>
								</div>
					
								<div class="media-body">
									<p class="text-2x mar-no text-thin">654</p>
									<p class="text-muted mar-no">Sales</p>
								</div>
							</div>
					
						</div>
					</div>
					<!--===================================================-->
					<!--End Tiles - Bright version-->
					
					<br>
					
					<div class="row">
					
						<!--Tile with progress bar - (Visit Today)-->
						<!--===================================================-->
						<div class="col-md-6 col-lg-3">
							<div class="panel panel-success panel-colorful">
								<div class="pad-all media">
									<div class="media-left">
										<span class="icon-wrap icon-wrap-xs">
											<i class="fa fa-users fa-2x"></i>
										</span>
									</div>
									<div class="media-body">
										<p class="h3 text-thin media-heading">314,675</p>
										<small class="text-uppercase">Visit Today</small>
									</div>
								</div>
								<div class="progress progress-xs progress-dark-base mar-no">
									<div style="width: 30%" class="progress-bar progress-bar-light" aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" role="progressbar"></div>
								</div>
								<div class="pad-all text-right">
									<small><span class="text-semibold">30%</span> Higher than yesterday</small>
								</div>
							</div>
						</div>
						<!--===================================================-->
						<!--End Tile with progress bar - (Visit Today)-->
					
					
						<!--Tile with progress bar - (Comments)-->
						<!--===================================================-->
						<div class="col-md-6 col-lg-3">
							<div class="panel panel-mint panel-colorful">
								<div class="pad-all media">
									<div class="media-left">
										<span class="icon-wrap icon-wrap-xs">
											<i class="fa fa-comment fa-2x"></i>
										</span>
									</div>
									<div class="media-body">
										<p class="h3 text-thin media-heading">45.9%</p>
										<small class="text-uppercase">comments</small>
									</div>
								</div>
								<div class="progress progress-xs progress-dark-base mar-no">
									<div style="width: 45.9%" class="progress-bar progress-bar-light" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45.9" role="progressbar"></div>
								</div>
								<div class="pad-all text-right">
									<small><span class="text-semibold"><i class="fa fa-unlock-alt fa-fw"></i> 312</span> Unapproved comments</small>
								</div>
							</div>
						</div>
						<!--===================================================-->
						<!--End Tile with progress bar - (Comments)-->
					
					
						<!--Tile with progress bar - (New Order)-->
						<!--===================================================-->
						<div class="col-md-6 col-lg-3">
							<div class="panel panel-purple panel-colorful">
								<div class="pad-all media">
									<div class="media-left">
										<span class="icon-wrap icon-wrap-xs">
											<i class="fa fa-shopping-cart fa-fw fa-2x"></i>
										</span>
									</div>
									<div class="media-body">
										<p class="h3 text-thin media-heading">5,345</p>
										<small class="text-uppercase">New Order</small>
									</div>
								</div>
								<div class="progress progress-xs progress-dark-base mar-no">
									<div style="width: 75%" class="progress-bar progress-bar-light" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar"></div>
								</div>
								<div class="pad-all text-right">
									<small><span class="text-semibold"><i class="fa fa-shopping-cart fa-fw"></i> 954</span> Sales in this month</small>
								</div>
							</div>
						</div>
						<!--===================================================-->
						<!--End Tile with progress bar - (New Order)-->
					
					
						<!--Tile with progress bar - (Earning)-->
						<!--===================================================-->
						<div class="col-md-6 col-lg-3">
							<div class="panel panel-pink panel-colorful">
								<div class="pad-all media">
									<div class="media-left">
										<span class="icon-wrap icon-wrap-xs">
											<i class="fa fa-dollar fa-fw fa-2x"></i>
										</span>
									</div>
									<div class="media-body">
										<p class="h3 text-thin media-heading">7,428</p>
										<small class="text-uppercase">Earning</small>
									</div>
								</div>
								<div class="progress progress-xs progress-dark-base mar-no">
									<div style="width: 37.4%" class="progress-bar progress-bar-light" aria-valuemax="100" aria-valuemin="0" aria-valuenow="37.4" role="progressbar"></div>
								</div>
								<div class="pad-all text-right">
									<small><span class="text-semibold"><i class="fa fa-dollar fa-fw"></i> 22,675</span> Total Earning</small>
								</div>
							</div>
						</div>
						<!--===================================================-->
						<!--End Tile with progress bar - (Earning)-->
					
					</div>
					<br>
					<div class="row">
					
						<!--Large Tile - (Visit Today)-->
						<!--===================================================-->
						<div class="col-md-6 col-lg-3">
							<div class="panel panel-dark panel-colorful">
								<div class="panel-body text-center">
									<i class="fa fa-users fa-5x"></i>
									<hr>
									<p class="h2 mar-btm text-thin">254,487</p>
									<p class="text-uppercase mar-no text-sm">Visit Today</p>
									<small><span class="text-semibold">7%</span> Higher than yesterday</small>
								</div>
							</div>
						</div>
						<!--===================================================-->
						<!--End Large Tile - (Visit Today)-->
					
						<!--Large Tile - (Comments)-->
						<!--===================================================-->
						<div class="col-md-6 col-lg-3">
							<div class="panel panel-danger panel-colorful">
								<div class="panel-body text-center">
									<i class="fa fa-comment fa-5x"></i>
									<hr>
									<p class="h2 mar-btm text-thin">873</p>
									<p class="text-uppercase mar-no text-sm">Comments</p>
									<small><span class="text-semibold"><i class="fa fa-unlock-alt fa-fw"></i> 154</span> Unapproved comments</small>
								</div>
							</div>
						</div>
						<!--===================================================-->
						<!--End Large Tile - (Comments)-->
					
						<!--Large Tile - (New Orders)-->
						<!--===================================================-->
						<div class="col-md-6 col-lg-3">
							<div class="panel panel-primary panel-colorful">
								<div class="panel-body text-center">
									<i class="fa fa-shopping-cart fa-5x"></i>
									<hr>
									<p class="h2 mar-btm text-thin">2,423</p>
									<p class="text-uppercase mar-no text-sm">New Order</p>
									<small><span class="text-semibold"><i class="fa fa-shopping-cart fa-fw"></i> 954</span> Sales in this month</small>
								</div>
							</div>
						</div>
						<!--===================================================-->
						<!--Large Tile - (New Orders)-->
					
						<!--Large Tile - (Earning)-->
						<!--===================================================-->
						<div class="col-md-6 col-lg-3">
							<div class="panel panel-info panel-colorful">
								<div class="panel-body text-center">
									<i class="fa fa-dollar fa-5x"></i>
									<hr>
									<p class="h2 mar-btm text-thin">7,428</p>
									<p class="text-uppercase mar-no text-sm">Earning</p>
									<small><span class="text-semibold"><i class="fa fa-dollar fa-fw"></i> 22,675</span> Total Earning</small>
								</div>
							</div>
						</div>
						<!--===================================================-->
						<!--End Large Tile - (Earning)-->
					
					
					</div>
				</div>
				<!--===================================================-->
				<!--End page content-->


