<style>
.breadcrumb {
    background: #f6f8f8 none repeat scroll 0 0;
    border-radius: 0;
    color: #aaa;
    line-height: 26px;
    list-style: outside none none;
    padding: 8px 30px;
}
.breadcrumb li ,
.breadcrumb li a
{
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
}
</style>

<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li v-for="item in items">
      	<template v-if="$index==0">
	        <i class="fa fa-home"></i>
	        <a href="{{item.url}}">{{ item.message }}</a> 
  	    </template>
  	    <template v-else>
          <i class="icon-angle-right"></i>
          <a href="{{item.url}}">{{ item.message }}</a>
  	    </template>
      </li>
    </ul>
  </div>
</div>