
<style>
.navbar-top-links  .head-list{
	max-height:290px;
	overflow:hidden;
}

.navbar-top-links .dropdown-menu .nano {
    max-height: 295px;
}

.navbar-top-links  .head-list .text-nowrap{
		width:140px;
		overflow:hidden;
		text-overflow:ellipsis;
}

.dropdown-menu{
	min-width: 250px;
}
</style>
 
		<header id="navbar">
			<div id="navbar-container" class="boxed"> 
            
            	<!--logo /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
				<div class="navbar-header  logob">
					<a href="#" class="navbar-brand"> 
						<img src="/static/img/logo.svg" height="23" width="26"  class="brand-icon">
						<div class="brand-title" title="la-frame框架平台">
							<span class="brand-text"> <img src="/static/img/logotxt.svg" height="25" width="124"></span>
						</div>
					</a>
				</div>
				<div class="navbar-header logoh">
					<a href="#" class="navbar-brand">
						<img src="/static/img/logoh.svg" height="23" width="26"  class="brand-icon">
						<div class="brand-title">
							<span class="brand-text"> <img src="/static/img/logotxth.svg" height="25" width="124"></span>
						</div>
					</a>
				</div>
				<!--logo end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->


				<!--常用栏 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
				<div class="navbar-content clearfix">
             	    <!--常用栏左 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
					<ul class="nav navbar-top-links pull-left">

						<!--菜单 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
						<li class="tgl-menu-btn">
							<a class="mainnav-toggle zeta-w50p text-center" href="#">
								<i class="fa fa-dedent fa-lg"></i>
							</a>
						</li>
						<!--菜单 end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
                        
                        <!--导航切顶部 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
						<li class="dropdown erweima">
							<a id="topmain" class="zeta-w50p text-center" href="#">
								<i class="fa fa-list-alt fa-lg"></i>
							</a>
						</li>
						<!--导航切顶部 end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
                        
                        <!--右菜单 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
							<li class="dropdown mega-dropdown erweima" data-content="Additional Sidebar">
								<a id="demo-toggle-aside" class="dropdown-toggle zeta-w50p text-center" href="#">
									<i class="fa fa-arrow-circle-o-right fa-lg"></i>
								</a>
							</li>
                        <!--右菜单 end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
                        
                        <!--快捷 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
						<li class="dropdown mega-dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle zeta-w50p text-center">
								<i class="fa fa-th-large fa-lg"></i>
							</a>
							<div class="dropdown-menu mega-dropdown-menu">
								<div class="clearfix">
									<div class="col-sm-12 col-md-3">

										<!--Mega menu widget-->
										<div class="text-center bg-purple pad-all">
											<h3 class="text-thin mar-no">Weekend shopping</h3>
											<div class="pad-ver box-inline">
												<span class="icon-wrap icon-wrap-lg icon-circle bg-trans-light">
													<i class="fa fa-shopping-cart fa-4x"></i>
												</span>
											</div>
											<p class="pad-btm">
												Members get <span class="text-lg text-bold">50%</span> more points. Lorem ipsum dolor sit amet!
											</p>
											<a href="#" class="btn btn-purple">Learn More...</a>
										</div>

									</div>
									<div class="col-sm-4 col-md-3">

										<!--Mega menu list-->
										<ul class="list-unstyled">
											<li class="dropdown-header">Pages</li>
											<li><a href="#">Profile</a></li>
											<li><a href="#">Search Result</a></li>
											<li><a href="#">FAQ</a></li>
											<li><a href="#">Sreen Lock</a></li>
											<li><a href="#" class="disabled">Disabled</a></li>
											<li class="divider"></li>
											<li class="dropdown-header">Icons</li>
											<li><a href="#"><span class="pull-right badge badge-purple">479</span> Font Awesome</a></li>
											<li><a href="#">Skycons</a></li>
										</ul>

									</div>
									<div class="col-sm-4 col-md-3">

										<!--Mega menu list-->
										<ul class="list-unstyled">
											<li class="dropdown-header">Mailbox</li>
											<li><a href="#"><span class="pull-right label label-danger">Hot</span>Indox</a></li>
											<li><a href="#">Read Message</a></li>
											<li><a href="#">Compose</a></li>
											<li class="divider"></li>
											<li class="dropdown-header">Featured</li>
											<li><a href="#">Smart navigation</a></li>
											<li><a href="#"><span class="pull-right badge badge-success">6</span>Exclusive plugins</a></li>
											<li><a href="#">Lot of themes</a></li>
											<li><a href="#">Transition effects</a></li>
										</ul>

									</div>
									<div class="col-sm-4 col-md-3">

										<!--Mega menu list-->
										<ul class="list-unstyled">
											<li class="dropdown-header">Components</li>
											<li><a href="#">Tables</a></li>
											<li><a href="#">Charts</a></li>
											<li><a href="#">Forms</a></li>
											<li class="divider"></li>
											<li class="dropdown-header">Newsletter</li>
											<li>
												<form role="form" class="form">
													<div class="form-group">
														<input type="email" placeholder="Enter email" id="email" class="form-control">
													</div>
													<button class="btn btn-primary btn-block" type="submit">Submit</button>
												</form>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!--快捷 end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
                        
						<!--消息 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
						<li class="dropdown">
                        
							<a href="#" data-toggle="dropdown" class="dropdown-toggle zeta-w50p text-center">
								<i class="fa fa-envelope fa-lg"></i>
								<span class="badge badge-header badge-warning tongzhi">{{totalCount}}</span>
							</a>

							<!--Message dropdown menu-->
							<div class="dropdown-menu dropdown-menu-md with-arrow">
								<div class="pad-all bord-btm">
									<p class="text-lg text-muted text-thin mar-no">当前共{{totalCount}}条通知.</p>
								</div>
                                
								<div class="nano scrollable has-scrollbar" style="height: 0px;">
									<div class="nano-content" tabindex="0">
										<ul class="head-list">
											<!-- Dropdown list-->
									 		<li  v-for="resul in result | limitBy 5 0" :id="resul.id"  class="liclock"> 
												<a class="media" @click="goNotice(resul.id)">
													<div class="media-left">
														<span class="icon-wrap icon-circle bg-primary">
															<i class="fa fa-comment fa-lg"></i>
														</span>
													</div>
													<div class="media-body">
														<div class="text-nowrap" title="{{resul.title}}">{{resul.title}}</div>
														<small class="text-muted">{{resul.createDate}}</small>
													</div>
												</a>
											</li>
										</ul>
									</div>
									<div class="nano-pane" style="display: none;">
										<div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div>
									</div>
								</div> 
								<!--Dropdown footer-->
								<div class="pad-all bord-top">
									<a class="btn-link text-dark box-block" v-link="{path:'/notice'}">
										<i class="fa fa-angle-double-right fa-lg pull-right"></i>
										查看所有的通知
									</a>
								</div>
							</div>
						</li> 
 						<!--消息end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
                        
                        <!--预警 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle zeta-w50p text-center">
								<i class="fa fa-bell fa-lg"></i>
								<span class="badge badge-header badge-danger tongzhi">5</span>
							</a>

							<!--Notification dropdown menu-->
							<div class="dropdown-menu dropdown-menu-md with-arrow">
								<div class="pad-all bord-btm">
									<p class="text-lg text-muted text-thin mar-no">当前有3条通知.</p>
								</div>
								<div class="nano scrollable has-scrollbar" style="height: 0px;">
									<div class="nano-content" tabindex="0">
										<ul class="head-list"> 
										 
											<li>
												<a href="#" class="media">
													<div class="media-left">
														<span class="icon-wrap icon-circle bg-primary">
															<i class="fa fa-comment fa-lg"></i>
														</span>
													</div>
													<div class="media-body">
														<div class="text-nowrap">您有新的消息</div>
														<small class="text-muted">15 分钟前</small>
													</div>
												</a>
											</li>
									 
											<li>
												<a href="#" class="media">
													<div class="media-left">
														<span class="icon-wrap bg-info">
															<i class="fa fa-file-word-o fa-lg"></i>
														</span>
													</div>
													<div class="media-body">
														<div class="text-nowrap">发布最新通知</div>
														<small class="text-muted">1小时之前</small>
													</div>
												</a>
											</li> 
									
											<li>
												<a href="#" class="media">
											<span class="label label-danger pull-right">News</span>
													<div class="media-left">
														<span class="icon-wrap bg-purple">
															<i class="fa fa-comment fa-lg"></i>
														</span>
													</div>
													<div class="media-body">
														<div class="text-nowrap">评论列表更新</div>
														<small class="text-muted">10小时前</small>
													</div>
												</a>
											</li>
									 
											<li>
												<a href="#" class="media">
													<div class="media-left">
														<span class="icon-wrap bg-success">
															<i class="fa fa-user fa-lg"></i>
														</span>
													</div>
													<div class="media-body">
														<div class="text-nowrap">有新邮件通知</div>
														<small class="text-muted">4分钟以前</small>
													</div>
												</a>
											</li>
										</ul>
									</div>
								<div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div> 
								<div class="pad-all bord-top">
									<a href="#" class="btn-link text-dark box-block">
										<i class="fa fa-angle-double-right fa-lg pull-right"></i>查看所有通知
									</a>
								</div>
							</div>
						</li> 
                        <!--预警end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/--> 
                                          
					</ul>
                    <!--常用栏左end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
                    
                    <!--常用栏右 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
					<ul class="nav navbar-top-links pull-right">
                  	    
                        <!--语言 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
						<li class="dropdown zeta-topanjl erweima">
							<a id="demo-lang-switch" class="lang-selector dropdown-toggle zeta-topan" href="#" data-toggle="dropdown">
								<span class="lang-selected">
									<img class="lang-flag" src="static/img/flags/united-kingdom.png" tppabs="static/img/flags/united-kingdom.png" alt="English">
									<span class="lang-id">CN</span>
									<span class="lang-name">简体中文</span>
								</span>
							</a>

							<!--Language selector menu-->
							<ul class="head-list dropdown-menu with-arrow">
								<li>
									<!--English-->
									<a href="#" class="active">
										<img class="lang-flag" src="static/img/flags/united-kingdom.png" tppabs="static/img/flags/united-kingdom.png" alt="English">
										<span class="lang-id">EN</span>
										<span class="lang-name">English</span>
									</a>
								</li>
								<li>
									<!--France-->
									<a href="#">
										<img class="lang-flag" src="static/img/flags/france.png" tppabs="static/img/flags/france.png" alt="France">
										<span class="lang-id">FR</span>
										<span class="lang-name">Fran&ccedil;ais</span>
									</a>
								</li>
								<li>
									<!--Germany-->
									<a href="#">
										<img class="lang-flag" src="static/img/flags/germany.png" tppabs="static/img/flags/germany.png" alt="Germany">
										<span class="lang-id">DE</span>
										<span class="lang-name">Deutsch</span>
									</a>
								</li>
								<li>
									<!--Italy-->
									<a href="#">
										<img class="lang-flag" src="static/img/flags/italy.png" tppabs="static/img/flags/italy.png" alt="Italy">
										<span class="lang-id">IT</span>
										<span class="lang-name">Italiano</span>
									</a>
								</li>
								<li>
									<!--Spain-->
									<a href="#">
										<img class="lang-flag" src="static/img/flags/spain.png" tppabs="static/img/flags/spain.png" alt="Spain">
										<span class="lang-id">ES</span>
										<span class="lang-name">Espa&ntilde;ol</span>
									</a>
								</li>
							</ul>
						</li>
						<!--语言 end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
                        
                        <!--设置按钮 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->                         
                        <li id="demo-set-btn" class="dropdown zeta-topanjl shezhi">
                    	    <a class="zeta-topan">	
								<i class="fa fa-gear fa-lg"></i>
							</a>
						</li>
                        <!--设置按钮end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/--> 

						<!--用户名 /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->   
						<li id="dropdown-user" class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
								<span class="pull-right">
									<img class="img-circle img-user media-object" src="/static/img/av1.png" alt="Profile Picture">
								</span>
								<div class="username hidden-xs"><i class="fa fa-caret-down fa-lg"> </i><span style="padding-left:10px;" id="userName">zeta Doong</span></div>
							</a>

							<div class="dropdown-menu dropdown-menu-md dropdown-menu-right with-arrow panel-default "> 
								<!-- Dropdown heading  -->
								<div class="pad-all bord-btm">
									<p class="text-lg text-muted text-thin mar-btm">用户中心</p>
								</div>
								<!-- User dropdown menu -->
								<ul class="head-list">
									<li>
										<a v-link="{path:'/usercenter'}">
											<i class="fa fa-user fa-fw fa-lg"></i> 个人信息
										</a>
									</li>
									<li>
										<a v-link="{path:'/notice'}">
											<span class="badge badge-danger pull-right">{{totalCount}}</span>
											<i class="fa fa-envelope fa-fw fa-lg"></i> 消息中心
										</a>
									</li>
									<li @click="setskin">
										<a>
											<span class="label label-success pull-right">新版</span>
											<i class="fa fa-gear fa-fw fa-lg"></i> 界面设置
										</a>
									</li>
									<li>
										<a v-link="{path:'/resetPass'}">
											<i class="fa fa-share-square-o fa-fw fa-lg"></i> 重置密码
										</a>
									</li>
									<li>
										<a href="about:blank" target="_blank">
											<i class="fa fa-question-circle fa-fw fa-lg"></i> 帮助中心
										</a>
									</li>
								</ul> 
								<!-- Dropdown footer -->
								<div class="pad-all text-right">
									<a @click="logout" class="btn btn-primary">
										<i class="fa fa-sign-out fa-fw"></i> 安全退出
									</a>
								</div>
							</div>
						</li>
						<!--用户名 end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->   

					</ul>
                    <!--常用栏右end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
                    
				</div> 
                <!--常用栏 end /^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^/-->
                
			</div>
		</header> 
		<!-- 公告栏 -->
		<div id="noticeInfo" style="display:none">
			<notice-info v-ref:info></notice-info>
		</div>
		<!-- 公告栏end -->
