<page-title
	:items="[{ message: '首页',url:'/#!/' },{ message: '数据字典',url:'' }]"></page-title>

<div id="dictRoot" style="padding: 20px 25px 0px; font-size: 14px;">
<form @submit.prevent v-on:onload="search()" id="query-form" class="form-horizontal"
					 role="form" method="post" action="/dict/query">
	<input type="hidden" name="page_pageNo" id="pageNo" value="1" />
						<input type="hidden" name="page_pageSize" id="pageSize" value="10" />
						<input type="hidden" name="page_order" id="order" value="desc" />
						<input type="hidden" name="page_orderBy" id="orderBy" value="id" />
<table border="0" class="juli5 yj3-top anniu1 w100 bgbian  txtcolor">
    <td>
<h4>数据字典</h4>
        <button class="btn btn-tm" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-filter"></i> 展开
        </button>
        
        <button type="button" class="btn btn-tm btn-labeled fa fa-plus" @click="goAdd">新增</button>
        
<!--         <button type="button" class="btn btn-tm btn-labeled fa fa-edit" v-on:click="goEdit">编辑</button> -->
        
        <button type="button" class="btn btn-tm btn-labeled fa fa-remove" v-on:click="goDel">删除</button>
        
    
    <div class="pull-right">
            <button type="button" class="btn btn-tm" @click="search()">确定</button>
    </div>
    <div class=" pull-right w200px">
        <input type="text" name="filter_LIKES_type_OR_keycode"  placeholder="按类型或者键搜索" class="form-control bianno">
    </div>
<!-- Button trigger modal -->

<!-- 展开 -->
<div class="collapse" id="collapseExample1">

<input type="hidden" name="filter_EQI_enable" value="" id="enabled">


 <div><div class="btn-group juli2-up btn-group-sm" data-toggle="buttons">
        <span class="btn1">值：&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class=" pull-right w200px">
            <input type="text" placeholder="值" name="filter_LIKES_value" class="form-control bianno">
        </div>  
</div></div>
 
    <div class="juli2-up">
    <button type="button" id="submitQuery" @click="search()" class="btn btn-tm">确定</button>
    </div>
</div>

    </td>
</table>
</form>
	
	<!-- 列表展示 -->
	<vue-grid v-ref:grid  :page="page" style="left: 0px; width:100%; text-align:left;" :hide-pagebtn="hidePagebtn" :hide-checkbox="hideCheckbox" :columns="gridColumns" ></vue-grid>

</div>
<router-view></router-view> 