<page-title
	:items="[{ message: '首页',url:'/#!/' },{ message: '权限',url:'' }]"></page-title>

<div id="privilegeRoot" style="padding: 20px 25px 0px; font-size: 14px;">
	<form @submit.prevent v-on:onload="search()" id="query-form" class="form-horizontal" role="form" method="post" action="/privilege/query">
		<input type="hidden" name="page_pageNo" id="pageNo" value="1" />
		<input type="hidden" name="page_pageSize" id="pageSize" value="10" />
		<input type="hidden" name="page_order" id="order" value="desc" />
		<input type="hidden" name="page_orderBy" id="orderBy" value="id" />
		<table border="0" class="juli5 yj3-top anniu1 w100 bgbian  txtcolor">
			<td>
				<h4>权限管理</h4>
				<button type="button" class="btn btn-tm btn-labeled fa fa-plus" @click="goAdd">新增</button>

				<button type="button" class="btn btn-tm btn-labeled fa fa-remove" v-on:click="goDel">删除</button>


				<div class="pull-right">
					<button id="submitQuery" type="button" class="btn btn-tm" @click="search()">确定</button>
				</div>
				<div class=" pull-right w200px">
					<input type="text" name="filter_LIKES_name"  placeholder="按名称搜索" class="form-control bianno">
				</div>
				<!-- Button trigger modal -->

				<!-- 展开 -->
				<div class="collapse" id="collapseExample1">

					<input type="hidden" name="filter_EQI_enabled" value="" id="enabled">
					<input type="hidden" name="filter_EQI_type" value="" id="type">
					<!-- <div>
						<div class="btn-group juli2-up btn-group-sm" data-toggle="buttons">
							<span class="btn1">名称：&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<div class=" pull-right w200px">
								<input type="text" placeholder="名称" name="filter_LIKES_name" class="form-control bianno">
							</div>  
						</div>
					</div> -->

					<!-- <div>
						<div class="btn-group juli2-up btn-group-sm" data-toggle="buttons">
							<span class="btn1">账号：&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<div class=" pull-right w200px">
								<input type="text" placeholder="账号" name="filter_LIKES_username" class="form-control bianno">
							</div>  
						</div>
					</div>

					<div>
						<div class="btn-group juli2-up btn-group-sm" data-toggle="buttons">
							<span class="btn1">邮箱：&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<div class=" pull-right w200px">
								<input type="text" placeholder="账号" name="filter_LIKES_email" class="form-control bianno">
							</div>  
						</div>
					</div>

					<div>
						<div class="btn-group juli2-up btn-group-sm" data-toggle="buttons">
							<span class="btn1">手机：&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<div class=" pull-right w200px">
								<input type="text" placeholder="账号" name="filter_LIKES_mobile" class="form-control bianno">
							</div>  
						</div>
					</div> -->

					<!-- <div class="juli2-up">
						<button type="button" id="submitQuery" @click="search()" class="btn btn-tm">确定</button>
					</div> -->
				</div>
			</td>
		</table>
	</form>
<!-- 



	<div class="row">
		<div class="col-md-12">
			<div class="panel box-shadow-lg"
				style="overflow: hidden; padding: 0 0 18px 18px;">
				<h3>权限管理</h3>
				<div class="table-toolbar">
					<button class="btn btn-primary" @click="goAdd"> <i class="fa fa-plus"></i>
						新增
					</button>
					<button class="btn btn-warning" v-on:click="goEdit"> <i class="fa fa-edit"></i>
						编辑
					</button>
					<button class="btn btn-danger" v-on:click="goDel">
						<i class="fa fa-trash-o"></i>
						删除
					</button>
					<a class="btn btn-success" id="table-btn-search"
						v-on:click="openSearch">
						<i class="fa fa-search"></i>
						查询
					</a>
				</div>

				查询条件 -->
				<!-- <div class="table-filterbar">
					<form v-on:onload="search()" id="query-form" class="form-horizontal" role="form"
						method="post" action="/privilege/query">
						<input type="hidden" name="page_pageNo" id="pageNo" value="1" />
						<input type="hidden" name="page_pageSize" id="pageSize" value="10" />
						<input type="hidden" name="page_order" id="order" value="desc" />
						<input type="hidden" name="page_orderBy" id="orderBy" value="id" />
						<div class="row show-grid">
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-2 control-label">名称</label>
									<div class="col-md-9">
										<input type="text" name="filter_LIKES_name"
											class="form-control"></div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-2 control-label">是否可用</label>
									<div class="col-md-9">
										<select name="filter_EQB_enabled" class="form-control">
											<option value="">请选择...</option>
											<option value="1">可用</option>
											<option value="0">不可用</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-10 table-filterbar-btn">
								<button type="reset" class="btn btn-default">
									<i class="fa fa-mail-reply"></i>
									重置
								</button>
								&nbsp;&nbsp;&nbsp;
								<a class="btn btn-success pull-right"
									@click="search()">
									<i class="fa fa-check"></i>
									确定
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div> -->

	<!-- 列表展示 -->
	<vue-grid v-ref:grid  :page="page"  :columns="gridColumns" ></vue-grid>

</div>
<router-view></router-view> 