	<div id="demo-set" class="demo-set demo-set-no">
		<div class="demo-set-body bg-dark">
			<div id="demo-set-alert"></div>
			<div class="demo-set-content clearfix">

				<div class="col-md-5 colorno">
					<h5 class="mar-btm text-thin">动画效果</h5>
					<div id="demo-anim" class="mar-btm">
						<label class="form-checkbox form-icon active">
							<input type="checkbox" checked="">开启动画
						</label>
					</div>
					<p>动画效果</p>
					<select id="demo-ease">
						<option value="effect" selected>ease (Default)</option>
						<option value="easeInQuart">easeInQuart</option>
						<option value="easeOutQuart">easeOutQuart</option>
						<option value="easeInBack">easeInBack</option>
						<option value="easeOutBack">easeOutBack</option>
						<option value="easeInOutBack">easeInOutBack</option>
						<option value="steps">Steps</option>
						<option value="jumping">Jumping</option>
						<option value="rubber">Rubber</option>
					</select>
					<hr>
					<h5 class="mar-btm text-thin">导航栏</h5>
					<div class="mar-btm">
						<label id="demo-nav-fixed" class="form-checkbox form-icon">
							<input type="checkbox"> 固定
						</label>
					</div>
					<label id="demo-nav-coll" class="form-checkbox form-icon">
						<input type="checkbox"> 收缩
					</label>
					<!-- <hr>
					<h5 class="mar-btm text-thin">隐藏导航栏</h5>
					<select id="demo-nav-offcanvas">
						<option value="none" selected disabled="disabled">-- 效果 --</option>
						<option value="push">推出</option>
						<option value="slide">滑出</option>
						<option value="reveal">挤出</option>
					</select> -->
				</div>

				<div class="col-md-4 colorno">
					<h5 class="mar-btm text-thin">辅助栏</h5>
					<div class="form-block">
						<label id="demo-asd-vis" class="form-checkbox form-icon">
							<input type="checkbox"> 显示
						</label>
						<label id="demo-asd-fixed" class="form-checkbox form-icon">
							<input type="checkbox"> 固定
						</label>
						<label id="demo-asd-align" class="form-checkbox form-icon">
							<input type="checkbox"> 停靠左边
						</label>
						<label id="demo-asd-themes" class="form-checkbox form-icon">
							<input type="checkbox"> 白色
						</label>
					</div>
					<hr>
					<h5 class="mar-btm text-thin">页头</h5>
					<label id="demo-navbar-fixed" class="form-checkbox form-icon">
						<input type="checkbox"> 固定
					</label>
					<hr>
					<h5 class="mar-btm text-thin">页脚</h5>
					<label id="demo-footer-fixed" class="form-checkbox form-icon">
						<input type="checkbox"> 固定
					</label>
				</div>

				<div class="col-md-3">
					<h5 class="mar-btm text-thin">颜色模板</h5>
					<div id="demo-theme">
						<div class="demo-theme-btn">
							
							<a href="#" class="demo-theme demo-a-light" data-theme="theme-light" data-type="navbar">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-a-navy" data-theme="theme-navy" data-type="navbar">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-a-ocean" data-theme="theme-ocean" data-type="navbar">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-a-lime" data-theme="theme-lime" data-type="navbar">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-a-purple" data-theme="theme-purple" data-type="navbar">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-a-dust" data-theme="theme-dust" data-type="navbar">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-a-mint" data-theme="theme-mint" data-type="navbar">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-a-coffee" data-theme="theme-coffee" data-type="navbar">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-a-dark" data-theme="theme-dark" data-type="navbar">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
						</div>
						<div class="demo-theme-btn">
							<a href="#" class="demo-theme demo-b-light" data-theme="theme-light" data-type="brand">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-b-navy" data-theme="theme-navy" data-type="brand">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-b-ocean" data-theme="theme-ocean" data-type="brand">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-b-lime" data-theme="theme-lime" data-type="brand">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-b-purple" data-theme="theme-purple" data-type="brand">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-b-dust" data-theme="theme-dust" data-type="brand">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-b-mint" data-theme="theme-mint" data-type="brand">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-b-coffee" data-theme="theme-coffee" data-type="brand">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-b-dark" data-theme="theme-dark" data-type="brand">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
						</div>
						<div class="demo-theme-btn">
							<a href="#" class="demo-theme demo-c-light" data-theme="theme-light" data-type="mainnav">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-c-navy" data-theme="theme-navy" data-type="mainnav">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-c-ocean" data-theme="theme-ocean" data-type="mainnav">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-c-lime" data-theme="theme-lime" data-type="mainnav">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-c-purple" data-theme="theme-purple" data-type="mainnav">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-c-dust" data-theme="theme-dust" data-type="mainnav">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-c-mint" data-theme="theme-mint" data-type="mainnav">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-c-coffee" data-theme="theme-coffee" data-type="mainnav">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
							<a href="#" class="demo-theme demo-c-dark" data-theme="theme-dark" data-type="mainnav">
								<div class="demo-theme-brand"></div>
								<div class="demo-theme-head"></div>
								<div class="demo-theme-nav"></div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="pad-all text-left colorno">
				<p class="demo-set-save-text">* 所以选项将会自动保存</p>
				<hr class="hr-sm">
				<button id="demo-reset-settings" class="btn btn-primary">还原默认设置</button>
			</div>
		</div>
		
	</div>